<div class="container-search row no-gutters justify-content-md-center">
  <div class="col">
    <div class="row">
      <search-filter
        class="col-12 col-lg-3 col-sm-6"
        (onFilterChange)="changeFilter($event)"
      >
      </search-filter>
      <!-- results list -->
      <div class="col-12 col-lg-9 col-sm-6">
        <div class="row">
          <div class="col">
            <!-- search navbar -->
            <search-navbar
              [loading]="loading"
              [totalItems]="totalItems"
              (onViewChange)="changeView($event)"
            ></search-navbar>
            <div class="loader col" *ngIf="loading"></div>
            <!-- no results -->
            <div class="row" *ngIf="!loading && totalItems == 0">
              <div class="col">
                <div class="no-results">
                  <h2>No Results</h2>
                  <p>Your search returned no results</p>
                </div>
              </div>
            </div>
            <!-- view results -->
            <div class="row" *ngIf="!loading && totalItems > 0">
              <div class="col">
                <div
                  *ngIf="currentView == 'Grid'"
                  style="display: flex; flex-direction: row; flex-wrap: wrap"
                >
                  <search-thumbnail
                    *ngFor="let mediaEntity of results"
                    [media]="mediaEntity"
                  >
                  </search-thumbnail>
                </div>
                <div *ngIf="currentView == 'List'">
                  <search-media
                    *ngFor="let mediaEntity of results"
                    [media]="mediaEntity"
                  >
                  </search-media>
                  <div class="space-8"></div>
                </div>
                <!-- pagination -->
                <div
                  class="search-pager row card pt-3"
                  *ngIf="currentView != 'Map'"
                >
                  <div class="d-flex justify-content-center">
                    <ngb-pagination
                      [collectionSize]="totalItems"
                      [(page)]="currentPage"
                      [maxSize]="5"
                      [pageSize]="pageSize"
                      [rotate]="true"
                      [boundaryLinks]="true"
                      (pageChange)="changePage($event)"
                    ></ngb-pagination>
                  </div>
                </div>
                <div class="row" *ngIf="currentView == 'Map'">
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <div class="map-view">
                          <div class="view-header">
                            <!-- map -->
                            <search-map
                              [countByProviders]="countByProviders"
                              [filter]="filter"
                              (onMapChange)="loadMediaTags($event)"
                            ></search-map>
                          </div>
                          <div class="view-content">
                            <search-timeline
                              [countByYears]="countByYears"
                              [countMissingDate]="countMissingDate"
                            ></search-timeline>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="currentView == 'Map'">
                  <div class="col-12 loader" *ngIf="loadingMapResults"></div>
                  <div class="col" *ngIf="!loadingMapResults">
                    <!-- PUT HERE results from map filter -->
                    <div class="row">
                      <div class="space-8"></div>
                    </div>
                    <div class="row">
                      <search-media-tag
                        *ngFor="let mediaTag of mediaTags"
                        [media]="mediaTag"
                        class="col-md-6 col-sm-12"
                      >
                      </search-media-tag>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
