<!-- <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
[animation]="'slide'">
<mdb-carousel-item *ngFor="let item of slides; let i = index">
<div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index">
		<mdb-card class="my-1">
		<mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
		<mdb-card-body>
		<mdb-card-title>
		<h4>{{card.title}}</h4>
		</mdb-card-title>
		<p>{{card.description}}</p>
		<a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
		</mdb-card-body>
		</mdb-card>
</div>
</mdb-carousel-item>
</mdb-carousel> -->
<ngb-carousel *ngIf="images">
<ng-template ngbSlide *ngFor="let image of images">
<!-- <img [src]="image" alt="Random slide">
<div class="carousel-caption">
		<h3>No mouse navigation</h3>
		<p>This carousel hides navigation arrows and indicators.</p>
</div> -->
<div class="card" style="width: 18rem;">
	<img class="card-img-top" [src]="image" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">Card title</h5>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		<a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
</div>
</ng-template>
</ngb-carousel>