<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)"
>
  <div
    ngxSlickItem
    *ngFor="let item of slides; trackBy: _trackBy"
    class="slide"
    (focus)="item.focus = true"
    (blur)="item.focus = false"
  >
    <item-detail [media]="item" (onDelete)="removeItem(item)"></item-detail>
  </div>
</ngx-slick-carousel>
<div class="loader col" *ngIf="loading" style="text-align: center;"></div>

<!-- no results -->
<div class="row" *ngIf="!loading && slides.length == 0">
  <div class="col">
    <div class="no-results">
      <p>This list has no items</p>
    </div>
  </div>
</div>

<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm deletion</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete this list?</strong></p>
    <p>
      All information associated to this user list will be permanently deleted
      and items disconnected. This operation can not be undone.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-border-classic"
      (click)="modal.close()"
    >
      OK
    </button>
  </div>
</ng-template>

<ng-template #itemConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm deletion</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Are you sure you want to remove this item from the list?</strong>
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.dismiss()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-border-classic"
      (click)="modal.close()"
    >
      OK
    </button>
  </div>
</ng-template>
