<!-- Modal per la ricerca di tag negli shots -->

<div [class]="modal_class">

    <div class="row modal-body-content">
        <div class="col-12 modal--list-tag">
            <h5 *ngIf="show_title">
                tag selected: <app-media-annotation *ngFor="let annotation of data.annotations" [annotation]="annotation"></app-media-annotation>
            </h5>
        </div>
        <ng-template
                ngFor
                let-shot
                [ngForOf]="data.shots">
            <app-shot-reference [shot]="shot"
                                [ngClass]="col_class"
                                class="row no-gutters modal--list-item-shot">
            </app-shot-reference>
        </ng-template>

    </div>

</div>

