footer {display:none !important;}
.dev .material-icons {
    font-size:14px !important;
    color: inherit;
}
.dev-info{
    color:#3B98D6;
}
.dev-warning{
    color: #C00;
}
/*.dev-warning .material-icons {*/
    /*color:#C00;*/
/*}*/