<!-- Black Topbar -->
<div class="nav imc--topbar">
    <span class="imc--flex--vertical-center back-icon">
        <i class="material-icons click-event" (click)="backClicked()">keyboard_arrow_left</i>
    </span>
    <span class="imc--topbar--title imc--flex--vertical-center">
        <i class="material-icons" [innerHTML]="icon"></i>
        &nbsp;
        <strong [innerHTML]="label"></strong>
    </span>
    <span class="imc--flex--item-end box-icons-share">
        <div ngbDropdown class="d-inline-block" placement="bottom-right" autoClose="outside"
            (openChange)="loadMyLists($event)"
            *ngIf="user && user.roles['Researcher']">
            <a class="dropdown-toggle" id="dropdownAddToList" ngbDropdownToggle>
                <i class="material-icons click-event">playlist_add</i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownAddToList" class="dropdown-menu-right">
                <h6 class="dropdown-header px-3">Add to...</h6>
                <form class="px-3 py-1">
                    <div style="max-height: 120px; overflow-y: auto;">
                    <div class="form-check px-0" *ngFor="let l of my_lists">
                        <input class="form-check-input imc--input-checkbox styled-checkbox" type="checkbox" value="" id="lst-{{l.uuid}}" (click)="addToList($event, l.uuid)">
                        <label class="form-check-label m-0 text-truncate" for="lst-{{l.uuid}}">
                            {{l.name}}
                        </label>
                    </div>
                    </div>
                </form>
                <div class="dropdown-divider"></div>
                <form class="px-3 py-1">
                    <!-- <a href="#" class="btn disabled" role="button" aria-disabled="true">
                        <i class="material-icons click-event" style="color: #333;">add_box</i>
                    </a>
                    <h6 class="dropdown-header px-3">Create new list</h6> -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn-reset" type="button" disabled="">
                                <i class="material-icons" style="color: #333; width: 1.2rem; height: 1rem; cursor: pointer; margin-left: -3px;">add_box</i>
                            </button>
                        </div>
                        <h6 class="dropdown-header py-0 px-2">Create new list</h6>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div>
            <a data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons click-event">playlist_add</i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <span>Add to list...</span>
                <a class="dropdown-item" href="#">Share the video</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Share your segment list</a>
            </div>
        </div> -->
        
        <!-- <a data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">share</i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Share the video</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Share your segment list</a>
        </div> -->
    </span>
</div>