<!-- Questo componente riguarda i media correlati -->
<div class="imc--card space-paragraph-20">
  <div class="imc--toolbar">
    Related items
  </div>

  <!-- @NSI media da mettere in loop -->
  <div class="imc--lista-media-correlati row no-gutters">
    <div class="col imc--thumb">
      <img
        src="http://192.168.2.37:8080/api/shots/9420d6f7-5d58-4313-ba41-700a6b7fd278?content=thumbnail"
        alt=""
      />
    </div>
    <div class="col modal--media-link--info">
      <!-- icona del media correlato -->
      <span>
        <i class="material-icons icon-video">videocam</i> SHOT 3
        <!--<i class="material-icons icon-foto">image</i>-->
      </span>
      <p>Attentato terroristico alla stazione di Bologna</p>
    </div>
  </div>
  <!---->
  <div class="imc--lista-media-correlati row no-gutters">
    <div class="col imc--thumb">
      <img
        src="http://192.168.2.37:8080/api/shots/8b5a765b-0073-4212-9cca-c6a5bf652722?content=thumbnail"
        alt=""
      />
    </div>
    <div class="col modal--media-link--info">
      <!-- icona del media correlato -->
      <span>
        <i class="material-icons icon-foto">image</i>
      </span>
      <p>Statua dei caduti dopo l'avanzata tedesca 1943</p>
    </div>
  </div>
</div>
