<ul class="navbar-nav">
  <li class="nav-item" *ngIf="user && user.roles['Archive']">
    <a class="nav-link" routerLink="/app/upload" (click)="collapse()">
      Upload
    </a>
  </li>
  <li class="nav-item" *ngIf="user && user.roles['Researcher']">
    <a class="nav-link" routerLink="/app/myWorkspace" (click)="collapse()">
      My Workspace
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/app/catalog" (click)="collapse()">
      Catalogue
    </a>
  </li>
  <li class="nav-item" *ngIf="user && user.isAdmin">
    <a class="nav-link" routerLink="/app/admin/archives" (click)="collapse()">
      Archive
    </a>
  </li>
</ul>
