<nav class="navbar navbar-default" role="navigation" ng-if="!main.avoidTheToolbar" ng-class="main.toolbarBgColor">
  <div class="container-fluid">

    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" 
        ng-click="isNavCollapsed = !isNavCollapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <h3>
        <!-- <a ui-sref='public.welcome'>
          {{ myproject }}
        </a> -->
        <a href="https://imediacities.eu" target="_blank">
          <img ng-src="static/assets/images/IMC-Logo-transp.png">
        </a>
      </h3>
    </div>



  <div 
    id="navbar" class="navbar-collapse collapse"
    uib-collapse='isNavCollapsed' ng-click="isNavCollapsed = !isNavCollapsed">

    <ul class="nav navbar-nav navbar-left">

      <li ng-if="logged && profile.roles['Archive']">
        <a href ui-sref="logged.upload">
          Upload
        </a>
      </li>

      <!-- <li ng-if="profile.isAdmin"> -->
      <li ng-if="logged">
        <a href ui-sref="logged.new-search({q: null})" ui-sref-opts="{reload: true}">
          Search
        </a>
      </li>

      <li ng-if="profile.isAdmin || profile.isGroupAdmin">
        <a href ui-sref="logged.admin.users" >
          Users
        </a>
      </li>

      <li ng-if="profile.isAdmin">
        <a href ui-sref="logged.admin.groups">
          Groups
        </a>
      </li>

      <li ng-if="profile.isAdmin">
        <a href ui-sref="logged.admin.archive">
          Archive 
        </a>
      </li>

    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li>
        <a href ui-sref="logged.profile" ng-if="logged">
          <i uib-tooltip='Profile' tooltip-placement='bottom' class="material-icons">people</i>
        </a>
      </li>

      <!-- login/logout buttons -->
      <li>
      <a href ui-sref="public.login" ng-if="!logged">
        Login
      </a>

      <a 
        ng-controller='LogoutController as logout' 
        ng-click='logout.exit()' ng-if="logged" style="cursor: pointer;">
        <i class='material-icons' uib-tooltip='Logout' tooltip-placement='bottom'>exit_to_app</i>
      </a>

      </li>

    </ul>

<!--
    <ul class="nav navbar-nav navbar-right">
        <a href="http://www.hpc.cineca.it" target="_blank">
          <img ng-src="static/assets/images/cinecaalpha.png">
        </a>
        <a href="https://www.scai.fraunhofer.de/en.html" target="_blank">
          <img ng-src="static/assets/images/fhglogoalpha.png">
        </a>
        <a href="http://www.cinematek.be" target="_blank">
          <img ng-src="static/assets/images/cinematekalpha.png">
        </a>
        <a href="http://www.cinetecadibologna.it" target="_blank">
          <img ng-src="static/assets/images/cinetecaalpha.png">
        </a>
-->

   </ul> 

  </div>

  </div>

</nav>

