<div
  class="container-fluid map click-event"
  [ngClass]="{'expanded': map_is_expanded} "
>
  <div class="map--bar" (click)="map_extend()">
    <strong [innerHTML]="map_label" class="paragraph-uppercase"></strong>
  </div>
  <div class="map--container">
    <app-media-map
      [media_type]="media_type"
      [markers]="locations"
      [shots]="shots"
      [draggable_markers]="false"
      [current_shot_from_video]="true"
      [clickable_markers]="true"
    ></app-media-map>
  </div>
</div>
