<div *ngIf="media" class="page-type-video"> <!--page-type-image è la classe da cambiare se siamo nell'item picture-->

    <!-- TOPBAR -->
    <app-media-top-bar></app-media-top-bar>

    <!-- MEDIA -->
    <div class="container-media row no-gutters justify-content-md-center">
        <!-- TITLE MEDIA -->
        <div class="box-title-media col-12 col-lg-6 row no-gutters">
            <h2 class="imc--title-bold col-12"  [innerHTML]="media.attributes.identifying_title"></h2>
            <p class="col-12 col-sm-8 imc--flex--vertical-start">
                <a href="#" class="imc--icon-link"><i class="material-icons">add_location</i></a>&nbsp;
                <span [innerHTML]="media.relationships.record_sources[0].relationships.provider[0].attributes.identifier | providerToCity"></span> - <span [innerHTML]="media.attributes.production_years[0]"></span>
            </p>
            <span class="col-6 col-sm-2">1.000 views</span>
            <span class="col-6 col-sm-2">30 annotations</span>
        </div>
        <span class="col-lg-3"></span>

        <!-- container video and shot -->
        <div class="container-media--content row no-gutters col-12 justify-content-md-center">
            <!-- VIDEO PLAYER -->
            <section class="box-media col-12 col-sm-7 col-lg-6">
                <app-video-player
                        #appVideo
                        [data]="media"
                        [shots]="shots"
                ></app-video-player>
                <!-- <app-picture></app-picture> -->
            </section>

            <!-- TAB SHOTS / SEGMENTS / AREAS-->
            <section class="col-12 col-sm-5 col-lg-3 box-shots">

                <div class="imc--toolbar row no-gutters">
                    <span class="col-6 col-lg-7 imc--flex--vertical-center">Shots</span>
                    <span class="col-6 col-lg-5 imc--flex--horizontal-end">
                        <ul class="nav nav-pills mb-3 tab-shots" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                    <i class="material-icons">movie</i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                    <i class="material-icons">content_cut</i>
                                </a>
                            </li>
                            <!--<li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                            </li>-->
                        </ul>
                    </span>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <!-- tab shots -->
                        <div *ngIf="shots && shots.length">
                            <app-video-shot
                                    *ngFor="let shot of shots"
                                    [shot]="shot"
                                    [multiSelection]="multi_annotations_is_active"
                                    (modale_richiedi)="modal_show($event)"
                                    (is_selezionato)="shot_selezionato($event)"
                                    (current_component)="appVideo.registra($event)" [parent]="appVideo"
                            ></app-video-shot>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <!-- tab segmenti -->

                            <!--<app-video-shot [multiSelection]="multi_annotations_is_active"></app-video-shot>-->
                            <!-- Blocco di codice se non ci sono elementi al suo interno-->

                            <div class="container-info-element row no-gutters">
                                <div class="col-12"><p>no segments</p></div>
                                <span class="info-element-button col-12">
                                    <!-- In questo bottone sraà da cambiare l'altezza del margin-bottom quando è presente il footer delle tab-->
                                    <button class="btn btn-border-classic">Create Segment<!--Cancel--></button>
                                </span>
                            </div>

                    </div>
                    <!--<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>-->


                </div>
                <!-- Questo footer nelle tab appare solamente se ci sono 1 o + elementi nelle tab (shots, segmenti, aree)-->
                <div class="tab-content--footer row no-gutters imc--flex--horizontal-end">
                    <button class="btn btn-border-classic" *ngIf="!multi_annotations_is_active"
                            (click)="multi_annotations_toggle()">Multiple annotation</button>

                    <ng-container *ngIf="multi_annotations_is_active">
                        <div ngbDropdown class="imc--input--dropdown col-6 col-lg-5">
                            <button id="dropdownBasic" ngbDropdownToggle>Add Annotation</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                                <span (click)="modal_show_multi($event, 'insert-tag')" class="dropdown-item">Add Tag</span>
                                <span (click)="modal_show_multi($event, 'insert-geotag')" class="dropdown-item">Add Geotag</span>
                                <span (click)="modal_show_multi($event, 'insert-note')" class="dropdown-item">Add Note</span>
                                <span (click)="modal_show_multi($event, 'insert-reference')" class="dropdown-item">Add Reference</span>
                                <span (click)="modal_show_multi($event, 'insert-link')" class="dropdown-item">Add Link</span>
                            </div>
                        </div>
                        <span class="col-6 col-lg-6 col-lg-offset-1">
                                <button class="btn btn-border-classic" (click)="multi_annotations_toggle()">Cancel selection</button>
                            </span>
                    </ng-container>
                </div>

            </section>
        </div>

    </div>

    <!-- MAPPA -->
    <app-media-map-wrapper [locations]="locations" [shots]="shots" *ngIf="locations"></app-media-map-wrapper>

    <!-- CONTAINER INFO -->
    <div class="container-fluid imc--container">
        <div class="row no-gutters">

            <!-- corpo della pagina -->
            <section class="col-12 col-lg-8">
            <!-- TABS INFO -->
                <app-media-info [info]="media" [user_language]="user_language"></app-media-info>

                <!-- COMMENTI -->
                <app-media-commenti></app-media-commenti>
            </section>

            <!-- colonna destra -->
            <section class="col-12 col-lg-4 imc--colonna-destra">
                <!-- MEDIA TAGS -->
                <app-media-tags *ngIf="shots && shots.length" [shots]="shots" (modale_richiedi)="modal_show($event)"></app-media-tags>

                <!-- RELATED ITEMS -->
                <app-media-related-items></app-media-related-items>
            </section>

            <!-- COMMENTI
            <section class="col-8 imc&#45;&#45;content-comments">
                <app-media-commenti></app-media-commenti>
            </section>-->

        </div>
    </div>

    <!-- Modal -->
    <app-modale #appModale>
        <app-modal-insert-termtag *ngIf="modale.type === 'insert-tag'" [data]="modale.data" (shots_update)="shots_update($event)" modal-dialog></app-modal-insert-termtag>
        <app-modal-insert-geotag *ngIf="modale.type === 'insert-geotag'" [data]="modale.data" (shots_update)="shots_update($event)" modal-dialog></app-modal-insert-geotag>
        <app-modal-insert-note *ngIf="modale.type === 'insert-note'" [data]="modale.data" (shots_update)="shots_update($event)" modal-dialog></app-modal-insert-note>
        <app-modal-insert-link *ngIf="modale.type === 'insert-link'" [data]="modale.data" modal-dialog></app-modal-insert-link>
        <app-modal-insert-reference *ngIf="modale.type === 'insert-reference'" [data]="modale.data" modal-dialog></app-modal-insert-reference>
        <app-modal-all-annotations *ngIf="modale.type === 'all-annotations'" [data]="modale.data" modal-dialog></app-modal-all-annotations>
        <app-modal-lista-shots *ngIf="modale.type === 'lista-shots'" [data]="modale.data" modal-dialog [modal]="true" [show_title]="true"></app-modal-lista-shots>
        <app-modal-tag-cloud *ngIf="modale.type === 'tag-cloud'" [data]="modale.data" modal-dialog></app-modal-tag-cloud>
    </app-modale>

</div>



