<!-- Template per il singolo shot, da mettere in loop per la creazione di tutti gli shot o segmenti -->
<div class="row no-gutters box-single-shot" *ngIf="data">

    <span class="col-1 container-checkbox" *ngIf="multiSelection">
        <!-- Checkbox per la selezione multipla -->
       <div class="box-checkbox">
           <input class="imc--input-checkbox styled-checkbox" [id]="checkbox_selection_label" type="checkbox" [value]="data.attributes.shot_num">
           <label [for]="checkbox_selection_label"></label>
       </div>
    </span>

    <span class="col-4 imc--flex--vertical-center">
        <!-- Icona freccia azzurra per l'active sullo shot -->
        <!--<i class="material-icons font-media-color">play_arrow</i>-->

        <!-- Numero dello shot, da scambiare con l'icona dell'active -->
        <span class="shot-number"><strong [innerHTML]="data.attributes.shot_num +1"></strong></span>

        <!-- Anteprima dello shot del video -->
        <span class="anteprima-shot">
            <img [src]="data.links.thumbnail" alt="">
            <span [innerHTML]="data.attributes.duration | number:'2.2'"></span>
        </span>
    </span>
    <span [ngClass]="!multiSelection ? 'col-7' : 'col-6'" class="imc--flex--vertical-center row no-gutters anteprima-shot--info">
        <strong [innerHTML]="data.attributes.timestamp"></strong>
        <span>
            frame range:
            <span [innerHTML]="data.attributes.start_frame_idx"></span>
            -
            <span [innerHTML]="data.attributes.end_frame_idx"></span>
        </span>
        <ul class="box--icon-list">
            <li><i class="material-icons">place</i><span><strong [innerHTML]="data.annotations.locations.length"></strong></span></li>
            <li><i class="material-icons">turned_in</i><span><strong [innerHTML]="data.annotations.tags.length"></strong></span></li>
            <li><i class="material-icons">speaker_notes</i><span><strong [innerHTML]="data.annotations.notes.length"></strong></span></li>
            <li><i class="material-icons">library_books</i><span><strong [innerHTML]="data.annotations.references.length"></strong></span></li>
            <li class="icon-rotate"><i class="material-icons">link</i><span><strong [innerHTML]="data.annotations.links.length"></strong></span></li>
        </ul>

    </span>
    <span class="col-1 imc--flex--vertical-center imc--flex--horizontal-center">
        <i class="material-icons click-event" (click)="expandDetailsShot()" data-toggle="collapse" [attr.data-target]="'#'+collapse_id"
           aria-expanded="false"
           aria-controls="collapseExample">
            <ng-container *ngIf="!expansion; else dropArrow">keyboard_arrow_down</ng-container>
           <ng-template #dropArrow>keyboard_arrow_up</ng-template></i>
        <!--<i class="material-icons">keyboard_arrow_up</i>-->
    </span>
</div>

<!-- Dettagli del singolo shot -->
<div class="collapse" [id]="collapse_id">
    <div class="content">
        <ng-template
                ngFor
                let-location
                [ngForOf]="this.data.annotations.locations">
            <app-media-annotation [annotation]="location"></app-media-annotation>
        </ng-template>
        <ng-template
                ngFor
                let-tag
                [ngForOf]="this.data.annotations.tags">
            <app-media-annotation [annotation]="tag"></app-media-annotation>
        </ng-template>
        <div class="row no-gutters">
        <!-- annotazioni rimanenti -->
<!--
        <ul class="box&#45;&#45;horizontal-icon-list col-12">
            <li><span><strong>12</strong></span><i class="material-icons">speaker_notes</i></li>
            <li><span><strong>2</strong></span><i class="material-icons">library_books</i></li>
            <li class="icon-rotate"><span><strong>7</strong></span><i class="material-icons">link</i></li>
        </ul>
-->
        <!-- select per l'aggiunta di nuove annotazioni e apertura delle modali -->
        <select class="imc--input col-7" #addAnnotation>
            <option selected>Add annotation</option>
            <option value="0" data-toggle="modal" data-target="#exampleModalCenter">Add Tag</option>
            <option value="1">Add Geotag</option>
            <option value="2">Add Note</option>
            <option value="3">Add Reference</option>
            <option value="3">Add Link</option>
        </select>

        <div class="col-5 box-annotation-buttons">
            <!-- bottone vedi tutte le annotazioni -->
            <button class="btn btn-accent">See All</button>
            <!-- aggiungi a una lista -->
            <button class="btn btn-icon-border-classic"><i class="material-icons">playlist_add</i></button></div>
        </div>
    </div>
</div>

