<!-- Modale visualizzazione di tutte le annotazioni -->
<app-media-modal [data]="data" [media_type]="media_type">
    <div class="col-12 col-sm-7 col-lg-7 no-gutter" modal-col>
        <ul class="modal--annotation">
            <li *ngIf="shot.annotations.tags.length">
                <span><i class="material-icons">bookmark</i></span>
                <span>
                    <ng-template
                    ngFor
                    let-tag
                    [ngForOf]="shot.annotations.tags">
                    <app-media-annotation [annotation]="tag"
                    [can_delete]="anno_is_deletable(tag)"></app-media-annotation>
                    </ng-template>
                </span>
            </li>
            <li class="space-paragraph-20" *ngIf="shot.annotations.locations.length">
                <span><i class="material-icons">place</i></span>
                <span>
                    <ng-template
                    ngFor
                    let-location
                    [ngForOf]="shot.annotations.locations">
                    <app-media-annotation [annotation]="location"
                    [can_delete]="anno_is_deletable(location)"></app-media-annotation>
                    </ng-template>
                </span>
            </li>
            <li class="space-paragraph-20" *ngIf="shot.annotations.notes.length">
                <span><i class="material-icons">speaker_notes</i></span>
                <span class="modal--add-note">
                    <ng-template
                    ngFor
                    let-note
                    [ngForOf]="shot.annotations.notes">
                    <app-note [note]="note"
                        [can_delete]="anno_is_deletable(note)"
                    *ngIf="note.name"></app-note>
                    </ng-template>
                </span>
            </li>
            <li class="space-paragraph-20" *ngIf="shot.annotations.references.length">
                <span><i class="material-icons">library_books</i></span>
                <span>
                    <ng-template
                    ngFor
                    let-reference
                    [ngForOf]="shot.annotations.references">
                   <app-reference [reference]="reference"
                        [can_delete]="anno_is_deletable(reference)"></app-reference>
                    </ng-template>
                </span>
            </li>
            <li class="space-paragraph-20" *ngIf="shot.annotations.links.length">
                <span class="icon-rotate"><i class="material-icons">link</i></span>
                <span class="d-inline-block text-truncate">
                    <ul class="modal--link-list">
                        <li *ngFor="let link of shot.annotations.links">
                            <a href="{{link.name}}" target=”_blank”>{{link.name}}</a>
                        </li>
                    </ul>
                </span>
            </li>
        </ul>
    </div>
</app-media-modal>