<div id="pageWorkspace">
	<!-- TOPBAR -->
	<!-- <workspace-top-bar></workspace-top-bar> -->
	<div class="nav imc--topbar">
		<span class="imc--topbar--title imc--flex--vertical-center">
			<i class="material-icons">dashboard</i>
			&nbsp;
			<strong>My Workspace</strong>
		</span>
		<span class="imc--flex--item-end">
			<div class="input-group box-search">
				<input type="text" class="imc--input imc--input-search"
				name="searchTerm"
				placeholder="search catalogue"
				>
			</div>
		</span>
	</div>
	<div class="container-workspace">
		<!-- SEARCH RESULTS -->
		<div class="row no-gutters">
			<div class="col-12 my-2">
				<span class="imc--topbar--title imc--flex--vertical-center">
					<i class="material-icons">location_city</i>&nbsp;<strong>Cities (9)</strong>
				</span>
			</div>
		</div>
		<div class="row no-gutters mx-3">
			<div class="col-12">
				<div class="form-row align-items-center">
			    <div class="col-auto">
			      <select [(ngModel)]="selectedCity" (ngModelChange)="onCityChange($event)" class="form-control" style="max-width: 160px;">
							<option *ngFor="let c of cities; let i = index" [value]="c">{{c}}</option>
					  </select>
			    </div>
			    <!-- <div class="col-1" style="max-width: 40px !important;">
			      <i class="material-icons">star_rate</i>
			    </div> -->
			    <div class="col-auto">
			      <span *ngIf="countCityResults">{{countCityResults}} contents</span>
			    </div>
			  </div>
			</div>
			<div class="col-12 mt-2">
				<multi-item-carousel 
					[filter]="cityFilter" (onResult)="countChangedHandler($event)"></multi-item-carousel>
			</div>
		</div>
		<div class="row"><div class="col-12"><hr></div></div>

		<!-- VIRTUAL EXHIBITOR -->
		<div class="row no-gutters mx-3">
			<div class="col-12 mt-2">
				<span class="imc--topbar--title imc--flex--vertical-center">
					<i class="material-icons">collections</i>&nbsp;<strong>My Virtual Exhibitions (5)</strong>
				</span>
			</div>
		</div>
		<div class="row"><div class="col-12"><hr></div></div>

		<!-- MY LISTS -->
		<div class="row no-gutters mx-3">
			<div class="col-12 mt-2">
				<span class="imc--topbar--title imc--flex--vertical-center">
					<i class="material-icons">format_list_bulleted</i>&nbsp;<strong>My Lists (4)</strong>
				</span>
			</div>
			<div class="colt-12 mt-2">
			</div>
		</div>
		<div class="row"><div class="col-12"><hr></div></div>

		<!-- MY EMBARGOES -->
		<div class="row no-gutters mx-3">
			<div class="col-12 mt-2">
				<span class="imc--topbar--title imc--flex--vertical-center">
					<i class="material-icons">lock</i>&nbsp;<strong>My Embargoes (43)</strong>
				</span>
			</div>
		</div>
		<div class="row"><div class="col-12"><hr></div></div>

		<!-- ANNOTATED BY ME -->
		<div class="row no-gutters mx-3">
			<div class="col-12 mt-2">
				<span class="imc--topbar--title imc--flex--vertical-center">
					<i class="material-icons">bookmark</i>&nbsp;<strong>Contents annotated by me (22)</strong>
				</span>
			</div>
		</div>
		<div class="row"><div class="col-12"><hr></div></div>

		<!-- WITH MY NOTES -->
		<div class="row no-gutters mx-3">
			<div class="col-12 mt-2">
				<span class="imc--topbar--title imc--flex--vertical-center">
					<i class="material-icons">speaker_notes</i>&nbsp;<strong>Content with my personal notes (12)</strong>
				</span>
			</div>
		</div>

	</div>
</div>