.imc--topbar .material-icons,
.imc--topbar .imc--topbar--title {
	color: #fff;
	margin-right: 10px;
}

.imc--topbar .box-search {
	background: #fff;
    padding: 5px;
    border-radius: 2px;
    border: 2px solid #707070;
}

.container-workspace {
	box-sizing: border-box;
    padding: 35px 25px;
    width: 100%;
}