<div id="pageWorkspace">
	<!-- TOPBAR -->
	<!-- <workspace-top-bar></workspace-top-bar> -->
	<div class="nav imc--topbar">
		<span class="imc--topbar--title imc--flex--vertical-center">
			<i class="material-icons">dashboard</i>
			&nbsp;
			<strong>My Workspace</strong>
		</span>
		<span class="imc--flex--item-end">
			<div class="input-group box-search">
				<input type="text" class="imc--input imc--input-search"
				name="searchTerm"
				placeholder="search catalogue"
				>
			</div>
		</span>
	</div>
	<!-- SEARCH RESULTS -->
	<!-- <div class="row">
		<div class="col-12">
			<!-- title-->
			<span class="imc--topbar--title imc--flex--vertical-center">
				<i class="material-icons">dashboard</i>
				&nbsp;
				<strong>Cities</strong>
			</span>
		</div>
	</div> -->
</div>