.search-filter {
	/* same as search-nav */
	background-color: #ecf1f4;
    border-color: #d6e1ea;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-filter-header {
	display: flex;
	padding: 10px 8px 4px 8px;
	margin: 4px;
	color: #fff;
    background-color: #337ab7;
}

.search-filter-element {
	padding: 12px;
	background-color: #FFF;
	border: 1px solid #C9DDE7
}

/*.search-promotion.label {
	position: absolute;
	margin-top: -1px;
	margin-left: -1px
}*/

.search-filter-element .date-range {
	/*margin: 0 auto;
    width: 15.4em;*/
    margin-left: 10%;
}

.date-range input {
	min-width: 50px;
}

/* custom treeview */
ul.ivh-treeview {
  list-style-type: none;
  padding-left: 0;
}
ul.ivh-treeview ul.ivh-treeview {
  padding-left: 15px;
}
ul.ivh-treeview .ivh-treeview-toggle {
  cursor: pointer;
}
ul.ivh-treeview .ivh-treeview-node-leaf .ivh-treeview-toggle {
  cursor: auto;
}

.widget-main.padding-8 {
	padding: 8px;
}

.tree-container {
	background-color: #FFF;
    //border: 1px solid #DDD;
    //border-left-color: #67B2DD;
    display: block;
    padding: 0;
    max-width: 280px;
    max-height: 250px;
    overflow-y: auto;
}

ul.ivh-treeview {
	margin: auto;
    padding: 0 0 0 15px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

ul.ivh-treeview::before {
	display: inline-block;
    content: "";
    position: absolute;
    top: -20px;
    bottom: 6px;
    left: 0;
    z-index: 1;
    border: 1px dotted #67B2DD;
    border-width: 0 0 0 1px;
}

.ivh-treeview .ivh-treeview-node:last-child:after { 
	display: inline-block;
	content: "";
	position: absolute;
	z-index: 1;
	top: 10px;
	bottom: 0;
	left: -16px;
	border-left: 1px solid #FFF
}

.ivh-treeview-children {
	margin-left: 6px;
}

li.ivh-treeview-node {
	padding: 0px !important;
	position: relative;
	list-style: none;
    border-left: 1px solid #FFF;
    margin: 1px 0;
}

li.ivh-treeview-node::before {
	display: inline-block;
    content: "";
    position: absolute;
    top: 10px;
    left: -16px;
    width: 16px;
    height: 0;
    border-top: 1px dotted #67B2DD;
    z-index: 1;
}

.ivh-treeview-twistie {
	position: relative;
    list-style: none;
    border-left: 1px solid #FFF;
    margin: 1px 0;
}

/* slide range */

/*.slider {
  position: relative;
  text-align: left;
  border: 1px solid gray;
  height: 0.6em;
}*/

.slider {
	background-color: #D5D5D5;
    position: relative;
    text-align: left;
    /*border: 1px solid gray;*/
    height: 0.6em;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    /*display: inline-block !important;*/
}
.slider.horizontal {
	height: 9px;
}

.slider.vertical {
	width: 9px
}

.slider .handle {
  top: -0.3em;
  background-color: #F8F8F8;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  width: 1.45em;
  height: 1.45em;
  position: absolute;    
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0;
  line-height: 2.2em;
  text-align: center;

}

.slider .handle:after, .slider .handle:before {
	display: block;
	content: "";
	position: absolute;
	top: 4px;
	left: 5px;
	width: 4px;
	height: 8px;
	border: 1px solid;
	border-width: 0 1px;
	border-color: inherit
}

.slider .handle:after {
	left: 8px;
	border-width: 0 1px 0 0
}

.slider .handle:hover {
	background-color: #FFF
}

.slider .handle:active, .slider .handle:focus, .slider .handle:hover {
	outline: 0;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3)
}

.handle {
	outline: 0 !important
}

.horizontal .handle {
	margin-left: -.725em;
	top: -.4em
}

.vertical .handle {
	left: -.35em;
	margin-bottom: -.65em
}

.range {
	background-color: #4AA4CE
}

.handle {
	border-color: #4AA4CE !important
}

.slider .range {
  position: absolute;
  display: block;
  font-size: .7em;
  background-color: #4AA4CE;
  top: 0;
  height: 100%;
}

/*.date-range {
  margin-left: 10%;
}*/

/* Medium devices (desktops, 900px and up) */
@media (max-width: 640px) {
	.input-group-addon { display: none; }
	.input-num { max-width: 100%; }
}

.input-num {
	max-width: 80%;
}

/*end slide range*/