.dropdown-toggle::after {
  content: initial;
}
.dropdown-menu {
  width: 300px;
}
.dropdown-header {
  font-size: 1.1rem;
  color: #333;
}
.form-check-label {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.form-header,
.form-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
