<div
  ngbDropdown
  #myDrop="ngbDropdown"
  class="d-inline-block"
  placement="bottom-right"
  autoClose="outside"
  (openChange)="openAddListPanel($event)"
>
  <a
    class="dropdown-toggle"
    id="dropdownAddToList-{{item_id}}"
    ngbDropdownToggle
  >
    <i class="material-icons click-event">playlist_add</i>
  </a>
  <div
    ngbDropdownMenu
    attr.aria-labelledby="dropdownAddToList-{{item_id}}"
    class="dropdown-menu-right"
  >
    <div class="row g-0">
      <div class="col mb-2">
        <h6 class="dropdown-header d-inline">Add to...</h6>
        <button
          type="button"
          class="btn-close float-end me-3"
          aria-label="Close"
          (click)="$event.stopPropagation(); myDrop.close();"
        ></button>
      </div>
    </div>
    <div class="px-3 py-1">
      <div style="max-height: 120px; overflow-y: auto">
        <div class="form-check px-0" *ngFor="let l of my_lists">
          <input
            class="imc--input-checkbox styled-checkbox"
            type="checkbox"
            value=""
            [(ngModel)]="l.belong"
            [attr.id]="'lst-'+l.uuid+'-'+item_id+flag"
            (click)="toggleItem($event, l.uuid, l.belong)"
          />
          <label
            class="form-check-label m-0 text-truncate"
            [attr.for]="'lst-'+l.uuid+'-'+item_id+flag"
          >
            {{l.name}}
          </label>
        </div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <form class="px-3 py-1" [formGroup]="listForm" (ngSubmit)="createList()">
      <div class="input-group" *ngIf="!listCreation">
        <div>
          <button
            class="btn-reset"
            type="button"
            (click)="listCreationToggle()"
          >
            <i
              class="material-icons"
              style="
                color: #333;
                width: 1.2rem;
                height: 1rem;
                cursor: pointer;
                margin-left: -3px;
              "
              >add_box</i
            >
          </button>
        </div>
        <h6 class="dropdown-header py-0 px-2">Create new list</h6>
      </div>
      <ng-container *ngIf="listCreation">
        <div class="form-header">
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="listCreationToggle()"
          ></button>
        </div>
        <div class="form-floating mb-3">
          <input
            id="floatingInput"
            type="text"
            class="form-control imc--input"
            placeholder="Enter name"
            formControlName="name"
          />
          <label for="floatingInput">Enter name</label>
          <div
            class="invalid-feedback d-block mt-0"
            *ngIf="listForm.get('name').touched && listForm.get('name').invalid"
          >
            Name is required
          </div>
        </div>
        <div class="form-floating">
          <textarea
            id="floatingTextarea"
            style="height: 100px"
            class="form-control imc--input"
            placeholder="Enter notes"
            formControlName="description"
          ></textarea>
          <label for="floatingTextarea">Enter notes</label>
          <div
            class="invalid-feedback d-block mt-0"
            *ngIf="listForm.get('description').touched && listForm.get('description').invalid"
          >
            Description is required
          </div>
        </div>
        <div class="form-footer mt-2">
          <button
            type="submit"
            class="btn btn-accent"
            [disabled]="listForm.invalid"
          >
            Create
          </button>
        </div>
      </ng-container>
    </form>
  </div>
</div>
