<div style="display:inline-block;width:100%;overflow-y:auto;">
	<ul class="timeline timeline-horizontal">


		<li class="timeline-item" *ngIf="countMissingDate > 0">
			<div class="timeline-badge info">
				<i class="imc-icon fa fa-circle-o"></i>
				<time class="text-primary timeline-time" [dateTime]="decade">????</time>
			</div>
			<div class="timeline-panel">
				<div class="timeline-body"><b>{{countMissingDate}}</b></div>
			</div>
		</li>


		<li class="timeline-item" *ngFor="let decade of timelineRange">
			<div class="timeline-badge info">
				<i class="imc-icon fa fa-circle-o"></i>
				<time class="text-primary timeline-time" [dateTime]="decade">{{decade}}</time>
			</div>
			<div class="timeline-panel" *ngIf="countByYears[decade]">
				<div class="timeline-body"><b>{{countByYears[decade]}}</b></div>
			</div>
		</li>
	</ul>
</div>