<div class="overflow-auto d-flex">
  <ul class="timeline timeline-horizontal">
    <li class="timeline-item" *ngIf="countMissingDate > 0">
      <div class="timeline-badge info">
        <i class="imc-icon fas fa-circle"></i>
        <span class="text-primary font-weight-bold small">????</span>
      </div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <b>{{ countMissingDate }}</b>
        </div>
      </div>
    </li>

    <li class="timeline-item" *ngFor="let decade of timelineRange">
      <div class="timeline-badge info">
        <i class="imc-icon fas fa-circle"></i>
        <time class="text-primary font-weight-bold small" [dateTime]="decade">{{
          decade
        }}</time>
      </div>
      <div class="timeline-panel" *ngIf="countByYears[decade]">
        <div class="timeline-body">
          <b>{{ countByYears[decade] }}</b>
        </div>
      </div>
    </li>
  </ul>
</div>
