	<div 
		ng-if="datactrl.loading" 
		ng-include="main.templateDir + 'loader.html'">
	</div>

	<div ng-controller='SearchController as ctrl'>

	<div class='row'>
		<!--
		<div class='col-xs-8 col-xs-offset-2'>

			<div ng-if='ctrl.videos.length == 0'>
				No video found
			</div>
			<div ng-if="ctrl.videos.length > 0">
				<div class="bar">
					<input type="text" ng-model="searchString" placeholder="Enter your search terms" />
				</div>

				<ul>
					<li ng-repeat="v in ctrl.videos | searchFor:searchString">
						<a href="{{v.movieurl}}"><img ng-src="{{v.moviesposter}}" /></a>
						<span class="title">{{v.title}}</span><i>({{v.duration}} min)</i>
						<p>{{v.description}}</p>
					</li>
				</ul>
			</div>

		</div>
		-->
		<div id="wrapper" data-spy="scroll" data-target="#spy" ng-class="{active: ctrl.selectedVideo === false}">
			<!-- Result content -->
			<div id="sidebar-wrapper" class="">
				<nav id="spy">
					<ul class="sidebar-nav nav">
						<li class="sidebar-brand active"><a href="#home" class=""><span
								class="fa fa-home solo">Movie Player</span></a></li>
					</ul>
				</nav>
				<div class="row">
					<video id="videoarea" ng-src="{{ctrl.video.links['content'] | trustUrl }}" controls></video>
				</div>
	                        <!--<div class="row">
	                                <div id="summary-graph">
	                                        <img ng-src="static/assets/images/summary.jpg">
	                                </div>
	                        </div>-->
	            		<!--<div class="scrollmenu">
	  				<a href="#home"><img ng-src="static/assets/images/shot1.png"></a>
	  				<a href="#news"><img ng-src="static/assets/images/shot2.png"></a>
	  				<a href="#contact"><img ng-src="static/assets/images/shot3.png"></a>
	  				<a href="#about"><img ng-src="static/assets/images/shot4.png"></a>
				</div>-->
	  			<div class="row">
	    		<div class="scrollmenu">
	      			<a ng-repeat="item in items" style="width: 20%;" scroll-on-click>
	       				 <img id="{{item[0]}}" duration="{{item[1]}}" nshots="{{item[2]}}" progr="{{item[3]}}" ng-src="{{item[4]}}">
	      			</a>
	   			</div>
	  			</div>
	            <!-- <div class="row">
	                    add summary image
	            </div> -->
				<!-- <div class="row">
					<div id="timeline-graph">
						<div google-chart chart="videoTimeline" agc-on-select="jumpToShot(selectedItem)" style="{{videoTimeline.cssStyle}}"/>
					</div>
				</div> -->
				<div class="row">
					<div map-lazy-load="https://maps.google.com/maps/api/js"
						map-lazy-load-params="{{ctrl.googleMapsUrl}}">
	  					<ng-map id="videomap" center="{{videolat}}, {{videolng}}" zoom="10">
	  						<marker position="[{{videolat}}, {{videolng}}]"  title="{{locname}}" animation="Animation.BOUNCE"/>
	  					</ng-map>
					</div>
				</div>
			</div>
			<!-- Result list -->
			<div id="page-content-wrapper" class="">
				<div class="page-content inset">
						<div ng-if='ctrl.videos.length == 0'>
							No video found
						</div>
						<div ng-if="ctrl.videos.length > 0">
							<div class="bar">
								<input type="text" ng-model="searchString" placeholder="Enter your search terms" />
							</div>

							<ul>
								<li ng-repeat="v in ctrl.videos | searchFor:searchString">
									<a href="" ng-click="loadVideoContent(v)"><img ng-src="{{v.links['thumbnail']}}" /></a>
									<div class="primary-description">
										<span class="title">{{v.attributes.identifying_title}}</span><i>({{v.relationships.item[0].attributes.duration}} sec)</i>
										<p><span ng-repeat="description in v.relationships.descriptions">
										{{description.attributes.text}}{{$last ? '' : ', '}}</span></p>
										<p><span ng-repeat="keyword in v.relationships.keywords">
										{{keyword.attributes.term}}{{$last ? '' : ', '}}</span></p>
									</div>
									<div class="secondary-description" ng-show="v.id === ctrl.selectedVideoId">
										<p><b>Production Year(s)</b>: {{v.production_years}}</p>
										<p><b>Location</b>: {{locname}}</p>
										<!-- <p><b>Segmentation</b>: 
										<span style="display:block; padding-left: 0.8em;">
											<span ng-repeat="frame in v.frames">
												<span ng-repeat="(key, value) in frame" >
												   <i>{{key}}</i>: {{value}}
												</span><br/>
											</span>
										</span>
										</p>-->
									</html>
									</div>
               					 <button type="button" class="btn btn-default pull-right" ng-show="showmesb" ng-click="open()">
                  					Storyboard <span class="glyphicon glyphicon-book"></span> 
               					 </button>
                				</li>
							</ul>
						</div>
					</div>
			</div>
		</div>
	</div>


	<!-- modal content -->
	 <script type="text/ng-template" id="myModalContent.html">
	      <div class="modal-header">
	        <h3 class="modal-title" align="center">Video Storyboard</h3>
	        </br>
	      </div>
	      <div class="modal-body">
	        <form>
	    <div>

	    <table class="table">
	    <tr>
	    <th>Summary<img style="width: 70%; height: 50%; float: right;" ng-src="{{summary}}"></th>
		</tr>
		</table>

		<table class="table">
		<tr>
			<th>Shots
			</th>
			<th>Shot number
			</th>
			<th>Shot duration
			</th>
			<th>Camera motion
			</th>
			<!-- <th>Category
			</th><th></th> -->
		</tr>
		<div class="storyboard" >
		<tr ng-repeat="shot in shots  | filter: searchKeyword ">
	       <td data-title="'Shot'" >
	           <!--{{shot.name}}--><img style="width: 40%;" ng-src="{{shot.thumb}}">
	       </td>
	       <td data-title="'Shot number'" >
	           {{shot.number}}
	       </td>   
	       <td data-title="'Duration'" >
	           {{shot.duration}}
	       </td>     
	       <td data-title="'Camera motion'">
	           {{shot.camera}}
	       </td>   
	       <!-- <td data-title="'Category'" align="center">
	           ?
	       </td>    
			<td>
			<input type="button" value="Tag" class="btn btn-primary" ng-click="ok()"/> <!-- ng-click="removeRow(shot.name)"/> -->
			<!-- </td> -->
		</tr>
		</div>
		</table>
			</div>

	        </form>
	      </div>

	      <div class="modal-footer">
	        <!-- <button class="btn btn-primary" type="button" ng-click="ok()">OK</button> -->
	        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	      </div>
	    </script>

	    <script type="text/ng-template" id="result.html">
	    	<div class="modal-header">
	        <h3 class="modal-title">Tag shot</h3>
	      </div>
	      <div class="modal-body">
	        <br/>
	        <form ng-submit="ok()">
	          <div class="input-group animated fadeIn">
	            <input type="text" class="form-control finderBar" ng-model="searchTerm" placeholder="Human figure, Church, Male, Female,..." autofocus>
	            <span class="input-group-btn">
	            <button class="btn btn-default" type="button" ng-click="ok()">Tag!</button>
	        </span>
	          </div>
	                <div class="modal-footer">
	        <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
	      </div>
	        </form>
	        </div>


	    </script>
	    <!--<button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>-->
	    <div ng-show="searchTerm">searchTerm from a modal: {{ searchTerm }}</div>
	  </div>

	</div>
