<div
	ng-if="datactrl.loading"
	ng-include="main.templateDir + 'loader.html'">
</div>
<div ng-controller='SearchController as ctrl'>
	<div class="row">
		<div id="imaginary_container">
			<div id="search-logo" ng-show="ctrl.viewlogo">
				<img class="imc-logo" ng-src="static/assets/images/IMC-Logo-big-transp.png">
			</div>
			<div class="input-group stylish-input-group">
				<input type="text" ng-model="ctrl.inputTerm" class="form-control" placeholder="Search video"
				ng-keypress="($event.charCode === 13)?ctrl.searchVideos():return" autofocus>
				<span class="input-group-addon">
					<button ng-click="ctrl.searchVideos()">
					<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
			<span ng-if="ctrl.loadResults && ctrl.videos.length == 0">No video found</span>
		</div>
	</div>
	<div class='row'>
		<div class="list-results" ng-if="ctrl.loadResults">
			<div class="list-results" ng-if="ctrl.videos.length > 0">
				<ul>
					<!-- <li ng-repeat="v in filteredVideos = (ctrl.videos | searchFor:searchString:this)"> -->
					<!-- <li ng-repeat="v in filteredVideos = (ctrl.videos | searchFor:searchString:this | limitTo: (vmin - vmax))"> -->
					<li ng-repeat="v in ctrl.videos">
						<a href ui-sref="logged.search.watch({v: v.id, meta: v})"><img ng-src="{{v.links['thumbnail']}}" /></a>
						<div class="primary-description">
							<a href ui-sref="logged.search.watch({v: v.id, meta: v})"><span class="title">{{v.attributes.identifying_title}}</span></a><i>({{v.relationships.item[0].attributes.duration | parseNum}} sec)</i>
							<p><span ng-repeat="description in v.relationships.descriptions">
							{{description.attributes.text}}{{$last ? '' : ', '}}</span></p>
							<p><span ng-repeat="keyword in v.relationships.keywords">
							{{keyword.attributes.term}}{{$last ? '' : ', '}}</span></p>
						</div>
						<div class="secondary-description" ng-show="v.id === ctrl.selectedVideoId">
							<p><b>Production Year(s)</b>: {{v.attributes.production_years[0]}}</p>
							<p><b>Location</b>: {{locname}}</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>