<!-- Container del video player e dei controlli -->
<div class="main-container-video row no-gutters">
    <div class="video_container col-12" *ngIf="data">
    <div class="video_wrapper">
        <div class="video-box">
            <video #videoPlayer preload></video>
        </div>
        <div class="controls" *ngIf="showComponents">
            <!--progress bar-->
            <app-video-control-progress-bar (current_component)="registra($event)" #progress_bar [parent]="this"></app-video-control-progress-bar>
            <app-video-control-timerange (current_component)="registra($event)" [parent]="this"></app-video-control-timerange>
            <div class="controls__wrapper controls__wrapper__black">
                <div class="controls__row controls__row--container">
                    <!--sx-->
                    <div class="controls__row controls__left">
                        <!--time marker-->
                        <app-video-control-time-markers (current_component)="registra($event)" [parent]="this"></app-video-control-time-markers>
                    </div>
                    <!--centro-->
                    <div class="controls__row controls__center">
                        <!--start-->
                        <app-video-control-goto-start (current_component)="registra($event)" [parent]="this"></app-video-control-goto-start>
                        <!--fast rewind-->
                        <app-video-control-frewind (current_component)="registra($event)" [parent]="this"></app-video-control-frewind>
                        <!--play-->
                        <app-video-control-play (current_component)="registra($event)" [parent]="this"></app-video-control-play>
                        <!--fast forward-->
                        <app-video-control-fforward (current_component)="registra($event)" [parent]="this"></app-video-control-fforward>
                        <!--end-->
                        <app-video-control-goto-end (current_component)="registra($event)" [parent]="this"></app-video-control-goto-end>
                    </div>
                    <!--dx-->
                    <div class="controls__row controls__right">
                        <!-- file orf -->
                        <app-video-control-switch (current_component)="registra($event)" [parent]="this" *ngIf="layout_check('main')"></app-video-control-switch>
                        <!--volume-->
                        <app-video-control-volume (current_component)="registra($event)" [parent]="this"></app-video-control-volume>
                        <!--controlli avanzati-->
                        <app-video-control-advanced (current_component)="registra($event)" [parent]="this" (advanced_show)="advanced_control_show($event)" *ngIf="layout_check('main')"></app-video-control-advanced>
                        <!--fullscreen-->
                        <app-video-control-fullscreen (current_component)="registra($event)" (fullscreen)="fullscreen($event)" [parent]="this" *ngIf="layout_check('main')"></app-video-control-fullscreen>
                    </div>
                </div>
                <!-- advanced controls -->
                <div class="controls__row controls__row--container" *ngIf="advanced_show && !layout_check('modale')">
                    <div class="controls__row controls__left">
                        <app-video-control-step (current_component)="registra($event)" [parent]="this"></app-video-control-step>
                    </div>
                    <div class="controls__row controls__left">
                        <app-video-control-jump-to (current_component)="registra($event)" [parent]="this"></app-video-control-jump-to>
                    </div>
                    <div class="controls__row controls__left">
                        <app-video-control-range (current_component)="registra($event)" [parent]="this"></app-video-control-range>
                    </div>
                    <div class="controls__row controls__left">
                        <app-video-control-fps (current_component)="registra($event)" [parent]="this"></app-video-control-fps>
                    </div>
                </div>
                <!-- revision controls -->
                <div class="controls__row controls__row--container" *ngIf="revision">
                    <div class="controls__row controls__left">
                        <app-video-control-step (current_component)="registra($event)" [parent]="this"></app-video-control-step>
                    </div>
                    <div class="controls__row controls__right">
                        <button class="btn btn-border-classic" (click)="cut_changed()">Move cut<!-- <i class="material-icons">save</i> --></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="video_mask">
            <div class="lds-ripple">
                <div></div><div></div>
            </div>
        </div>
    </div>
</div>

    <!-- Barre sotto al player degli shot -->
    <div class="video_tag-container col-12">
        <app-video-tag *ngIf="layout_check('main')"
                   [data]="shots"
                   (modale_richiedi)="modal_show($event)"
                   (scena_visualizza)="jump_to($event)"
                   (current_component)="registra($event)"
                   [parent]="this"></app-video-tag>
    </div>
</div>
