.video_container, .video_wrapper {
  position: relative;
  overflow: hidden;
  background: #171717; }

.video_container.video_container--fullscreen {
  position: fixed;
  z-index: 2147483648 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column; }
  .video_container.video_container--fullscreen .video_wrapper, .video_container.video_container--fullscreen .markers__wrapper, .video_container.video_container--fullscreen .seek_bar_wrapper {
    flex-grow: 1; }
  .video_container.video_container--fullscreen .markers__wrapper {
    flex: 1; }
  .video_container.video_container--fullscreen .video_wrapper {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    background: #000; }
  .video_container.video_container--fullscreen video {
    border: 0;
    display: flex;
    width: 100%;
    flex-basis: 90%; }
  .video_container.video_container--fullscreen .controls__wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 10%; }
  .video_container.video_container--fullscreen .controls__status, .video_container.video_container--fullscreen .controls__buttons {
    flex: 1; }
.video_container.video_container--modale video {
  max-width: 100%; }

.video_mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: none;
  background: transparent; }

.video_mask--active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

video {
  border-bottom: 0;
  margin: 0 auto;
  display: block;
  max-width: 80%; }

#scroller, .seek_bar_wrapper {
  position: relative;
  background: #e2e2e2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #e2e2e2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #e2e2e2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #e2e2e2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#e2e2e2',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #d1d1d1;
  height: 100px; }

.seek_bar {
  position: absolute;
  z-index: 10;
  left: 0;
  height: 100%;
  background: blue; }

.seek_bar_wrapper {
  overflow: hidden;
  width: 100%; }

.seek_bar_wrapper .seek_bar {
  width: 0;
  left: 0;
  background: transparent;
  border-right: 2px solid red;
  z-index: 2000; }

.seek_bar_wrapper .seek_bar:before, .seek_bar_wrapper .seek_bar:after {
  content: '';
  position: absolute;
  top: 0;
  right: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: red transparent transparent transparent; }

.seek_bar_wrapper .seek_bar:after {
  border-width: 0 5px 10px 5px;
  bottom: 0;
  top: unset;
  border-color: transparent transparent red transparent; }

.scene_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(0); }

.scena {
  position: absolute;
  top: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1000;
  border: 1px solid #d1d1d1;
  border-top: 0;
  border-bottom: 0;
  font-size: 12px; }
  .scena.scena--running .fondino {
    opacity: 0; }
  .scena .fondino {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity .4s; }
  .scena .nome {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFF;
    padding: .5em;
    white-space: nowrap;
    /*background: rgba(0,0,0,.5);*/ }
  .scena .time {
    position: absolute;
    top: 0;
    color: white;
    background: rgba(0, 0, 0, 0.5); }

.time.start_time {
  left: 0;
  color: rgba(0, 128, 0, 0.8);
  padding-right: .5em; }

.time.end_time {
  right: 0;
  text-align: right;
  color: rgba(255, 0, 0, 0.8);
  padding-left: .5em; }

#wrapper_scene {
  width: 500px;
  border: 5px solid sienna;
  overflow: hidden; }

#scroller {
  width: 1500px; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
             supported by Chrome and Opera */ }

video::-webkit-media-controls-enclosure {
  display: none !important; }

[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: transparent; }
  [type='range']:focus {
    outline: 0; }
    [type='range']:focus::-webkit-slider-runnable-track {
      background: #5eb1d2; }
    [type='range']:focus::-ms-fill-lower {
      background: #4aa7cc; }
    [type='range']:focus::-ms-fill-upper {
      background: #5eb1d2; }
  [type='range']::-webkit-slider-runnable-track {
    cursor: pointer;
    height: 6px;
    transition: all .2s ease;
    width: 100%;
    background: #4aa7cc;
    border: 0 solid transparent;
    border-radius: 0; }
  [type='range']::-webkit-slider-thumb {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 0 0 2px rgba(13, 13, 13, 0.2);
    background: #276d89;
    border: 2px solid #4aa7cc;
    border-radius: 6px;
    cursor: pointer;
    height: 12px;
    width: 12px;
    -webkit-appearance: none;
    margin-top: -3px; }
  [type='range']::-moz-range-track {
    cursor: pointer;
    height: 6px;
    transition: all .2s ease;
    width: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
    background: #4aa7cc;
    border: 0 solid transparent;
    border-radius: 0; }
  [type='range']::-moz-range-thumb {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 0 0 2px rgba(13, 13, 13, 0.2);
    background: #276d89;
    border: 2px solid #4aa7cc;
    border-radius: 6px;
    cursor: pointer;
    height: 12px;
    width: 12px; }
  [type='range']::-ms-track {
    cursor: pointer;
    height: 6px;
    transition: all .2s ease;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent; }
  [type='range']::-ms-fill-lower {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
    background: #389dc5;
    border: 0 solid transparent;
    border-radius: 0; }
  [type='range']::-ms-fill-upper {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
    background: #4aa7cc;
    border: 0 solid transparent;
    border-radius: 0; }
  [type='range']::-ms-thumb {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 0 0 2px rgba(13, 13, 13, 0.2);
    background: #276d89;
    border: 2px solid #4aa7cc;
    border-radius: 6px;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin-top: 0; }

.onoffswitch {
  position: relative;
  width: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: inline-block;
  margin-left: 190px; }
  .onoffswitch input[type=radio], .onoffswitch input[type=checkbox] {
    display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: auto;
  height: auto !important; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.25s ease-in 0s;
  -webkit-transition: margin 0.25s ease-in 0s;
  -ms-transition: margin 0.25s ease-in 0s;
  -o-transition: margin 0.25s ease-in 0s;
  transition: margin 0.25s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  content: " ";
  float: left;
  width: 50%;
  height: 5px;
  padding: 0;
  font-size: 14px;
  color: white;
  font-weight: bold;
  line-height: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: border-box;
  border: 0 none; }

.onoffswitch-inner:before {
  padding-left: 10px;
  background-color: #4aa7cc;
  color: #FFFFFF;
  box-shadow: 0 1px 0 #389dc5 inset; }

.onoffswitch-inner:after {
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0; }

.onoffswitch-switch {
  width: 17px;
  height: 17px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 26px;
  margin-top: -5px;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-transition: right 0.25s ease-in 0s;
  -webkit-transition: right 0.25s ease-in 0s;
  -ms-transition: right 0.25s ease-in 0s;
  -o-transition: right 0.25s ease-in 0s;
  transition: right 0.25s ease-in 0s; }

.control__progress {
  position: relative;
  bottom: 10px;
  width: 100%; }

progress {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  height: 10px; }

progress[value]::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0; }

progress[value]::-webkit-progress-value {
  background-color: #4aa7cc; }

.timeranges {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 4px;
  background: #000;
  z-index: 0; }

.timerange {
  top: 0;
  height: 100%;
  position: absolute;
  background: #cc6f4a; }

.markers_wrapper {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-bottom: 0;
  background: #fff;
  display: flex; }

.controls__wrapper {
  width: 100%;
  background: #fff; }
  .controls__wrapper.controls__wrapper--autohide {
    position: absolute;
    left: 0;
    bottom: -200px;
    transition: bottom .2s; }
  .controls__wrapper.controls__wrapper--visible {
    bottom: 0; }
  .controls__wrapper.controls__wrapper--fullscreen {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2147483648; }
  .controls__wrapper .controls__button {
    text-align: center;
    width: 25px;
    height: 25px;
    background: #EEE;
    line-height: 20px;
    font-weight: bold;
    padding-top: 4px; }
    .controls__wrapper .controls__button span, .controls__wrapper .controls__button i {
      cursor: pointer; }
    .controls__wrapper .controls__button.controls__button--right {
      text-align: right; }
    .controls__wrapper .controls__button.controls__button--center {
      text-align: center; }
    .controls__wrapper .controls__button.controls__button--double {
      width: 50%; }
    .controls__wrapper .controls__button.controls__button--fullwidth {
      width: 100%; }
  .controls__wrapper .controls__container {
    background: #EEE;
    line-height: 20px;
    font-weight: bold;
    padding-top: 4px;
    display: block;
    margin: 0 auto;
    text-align: center; }
    .controls__wrapper .controls__container input, .controls__wrapper .controls__container select {
      display: inline;
      margin: 0 auto;
      width: auto;
      font-size: 90%; }
    .controls__wrapper .controls__container input {
      display: inline;
      max-width: 30px;
      text-align: center; }
    .controls__wrapper .controls__container input[type="checkbox"] {
      width: auto; }
  .controls__wrapper .controls__status {
    padding-bottom: 0; }
  .controls__wrapper .controls__buttons {
    padding-top: 0; }
  .controls__wrapper .controls__status__controls {
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1; }
  .controls__wrapper .controls__status__info, .controls__wrapper .controls__status__bar, .controls__wrapper .controls__status__fps {
    align-self: center; }
  .controls__wrapper .controls__status__play, .controls__wrapper .controls__status__bar, .controls__wrapper .controls__status__fps {
    padding: 4px 8px; }
  .controls__wrapper .controls__status__play {
    line-height: 30px; }
  .controls__wrapper .control__status__range {
    position: relative; }
  .controls__wrapper .controls__status + .controls__buttons {
    border-top: 0; }
  .controls__wrapper.controls__wrapper__black {
    background: #000;
    color: #FFF;
    position: relative;
    top: 14px; }

.controls__left, .controls__right {
  min-width: 150px;
  font-size: .9em; }

.controls__right {
  justify-content: flex-end; }

#controls_um {
  margin-top: 4px; }

#switch_video_format {
  display: inline; }

#play,
#range,
#goto_start,
#goto_end,
#rewind,
#fastforward,
#seek_backward,
#seek_forward,
#jump_to,
.fullscreen,
#volume span,
#play_int {
  user-select: none;
  cursor: pointer; }

#volume span, #fullscreen span {
  float: none; }

.volume__down, .volume__up {
  display: inline-block; }

.volume__icon {
  min-width: 18px;
  display: inline-block;
  text-align: left; }

#volume_slider {
  display: flex !important;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 150px;
  height: 35px;
  transform: rotate(270deg);
  transform-origin: top left;
  color: #FFF;
  border-radius: 4px;
  z-index: -1; }
  #volume_slider.show {
    z-index: 1;
    visibility: visibile; }
  #volume_slider .gutter {
    background-color: #171717;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    transform: rotate(-270deg);
    text-align: center; }
  #volume_slider .control {
    background-color: #171717;
    padding: 0 4px; }
    #volume_slider .control input {
      display: inline-block !important; }

#range {
  display: block;
  width: 100%; }

.controls__row {
  display: flex; }
  .controls__row .mark {
    width: 25%;
    border: 1px solid #d1d1d1;
    padding: 4px 8px;
    background: #EEE;
    border-bottom: 0;
    flex-grow: 1;
    user-select: none; }
    .controls__row .mark + .mark {
      border-left: 0; }
    .controls__row .mark span {
      font-family: monospace, monospace;
      float: right; }

.flex_spacer {
  flex: 1 1 auto; }

.spinner {
  width: 75px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 4px; }

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 0 3px 0 0;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
.display-none {
  display: none !important; }

.visibility-hidden {
  visibility: hidden !important; }

/*# sourceMappingURL=app-video-player.css.map */
