<div 
	ng-if="ctrl.loading" 
	ng-include="main.templateDir + 'loader.html'">
</div>

<div ng-controller='UsersController as ctrl'>

<div class='panel panel-default' ng-if='!datactrl.loading'>
<!-- PANEL HEADING START -->
<div class='panel-heading'>
	<h4 class='panel-title'>
		<i class='material-icons'>face</i> Users list
	</h4>
</div>
<!-- PANEL HEADING END -->

<!-- PANEL BODY + TABLE START -->
<div class='panel-body'>
<div class="table-responsive">
	<table ng-show="ctrl.users && ctrl.users.length" class='table table-hover table-condensed'>

		<thead>
	        <tr>
	        	<th>Email</th>
	            <th>Name</th>
	            <th>Surname</th>
				<th>Group</th>
	            <th colspan=2 style='width:1%;'></th>
	        </tr>
	    </thead>

		<tbody>
			<tr ng-repeat="(key, data) in ctrl.users">

					<td>{{data.email}}</td>
					<td>{{data.name}}</td>
					<td>{{data.surname}}</td>
					<td>{{data._belongs_to[0].shortname}}</td>

					<td 
						ng-click='ctrl.updateUser(key)'>
						<i class='material-icons'>edit</i>
					</td>
					<td 
						ng-click='ctrl.deleteUser(data.id)'>
						<i class='material-icons palette-Red-500 text'>delete</i>
					</td>

			</tr>
		</tbody>
		</table>
</div>
</div>
<!-- PANEL BODY +  TABLE END -->


<!-- PANEL FOOTER START -->
<div class="panel-footer">
<div class='text-right'>
	<button class="btn btn-success" ng-click="ctrl.addNewUser()">
		Add new user
	</button>
</div>
</div>
<!-- PANEL FOOTER END -->

</div>
<!-- PANEL END -->

</div>

