<div ng-controller='SearchController as ctrl'>

<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">

<div flex="70" layout="column">

<h4>List of videos</h4>

<div 
	ng-if="datactrl.loading" 
	ng-include="main.templateDir + 'loader.html'">
</div>

<div ng-if='!ctrl.videos'>
	No video found
</div>

<md-card ng-repeat="(key, data) in ctrl.videos">

<md-card-title>

<md-card-title-text>

	<span class="md-headline valign-wrapper">
		{{data.title}}
	</span>

	<span class="md-subhead">
		{{data.description}}
	</span>

</md-card-title-text>
</md-card-title>
</md-card>

</div>

</md-content>
</div>