<div 
	ng-if="datactrl.loading" 
	ng-include="main.templateDir + 'loader.html'">
</div>

<div ng-controller='SearchController as ctrl'>

<div class='row'>
<div class='col-xs-8 col-xs-offset-2'>
<div class='panel panel-default'>

<div class='panel-heading'>
	<h4 class='panel-title'>List of videos</h4>
</div>

<div class='panel-body'>

	<div ng-if='!ctrl.videos || ctrl.videos.length == 0'>
		No video found
	</div>

	<div class='table-responsive'>
	<table class='table table-hover'>

	<tr ng-repeat="(key, data) in ctrl.videos">

		<td>
			{{data.title}}
		</td>

		<td>
			{{data.description}}
		</td>

		<td>
			Duration: {{data.duration}} minutes
		</td>
	</div>

	</table>
	</div>

</div>

<div class='panel-footer'>
</div>

</div>