<div 
	ng-if="datactrl.loading" 
	ng-include="main.templateDir + 'loader.html'">
</div>

<div class='row' ng-if='!profile.roles["Archive"]'>
<div class='col-xs-12 text-center'>

<div class='panel panel-danger'>

<div class='panel-body palette-Red-100 bg'>
  <i class='material-icons medium palette-Red-500 text'>warning</i>

  <br>

  <h3>
    Unauthorized  
  </h3>
</div>

</div>

</div>
</div>

<div ng-controller='StageController as ctrl' ng-if='profile.roles["Archive"]'>
<div class='row'>
<div class='col-xs-8 col-xs-offset-2'>
<div class='panel panel-default'>

<div class='panel-heading'>
	<h4 class='panel-title'>Upload new videos</h4>
</div>

<div class='panel-body'>

<div flow-init="flowOptions"
     flow-complete='ctrl.uploadComplete(event, $flow, flowFile)'
     flow-file-error='ctrl.uploadError($file, $message, $flow)'
     flow-files-submitted="$flow.upload()"
     flow-file-success="$file.msg = $message">

  <span class="btn btn-small btn-info" flow-btn><i class="icon icon-file"></i>Upload a file</span>
  <span class="btn btn-small btn-info" flow-btn flow-directory><i class="icon icon-folder-open"></i>
    Upload a folder
  </span>

  <br><br>

  <div class="well">
    <a class="btn btn-small btn-success" ng-click="$flow.resume()">Resume all</a>
    <a class="btn btn-small btn-warning" ng-click="$flow.pause()">Pause all</a>
    <a class="btn btn-small btn-danger" ng-click="$flow.cancel()">Cancel all</a>
    <span ng-if='$flow.getSize() > 0' class="label label-info">Total Size: {{$flow.getSize() | bytes}}</span>
  </div>

  <div class='table-responsive' ng-if='$flow.files.length'>
  <table class='table table-hover'>
  		<tr>
  			<th>#</th>
			<th>name</th>
			<th>size</th>
			<!-- <th>relativePath</th> -->
			<!-- <th>uniqueIdentifier</th> -->
			<!-- <th>chunks.length</th> -->
			<th>progress</th>
  		</tr>
    <tr ng-repeat="file in $flow.files">
		<td>{{$index+1}}</td>
		<td>{{file.name}}</td>
		<td>{{file.size | bytes}}</td>
		<!-- <td>{{file.relativePath}}</td> -->
		<!-- <td>{{file.uniqueIdentifier}}</td> -->
		<!-- <td>{{file.chunks.length}}</td> -->
		<td ng-include="main.templateDir + 'ngflow.progressbar.html'"></td>
    </tr>
  </table>
  </div>
</div>

</div>

<div class='panel-footer'>
</div>

</div>
</div>
</div>


<div ng-controller='ListsController as listctrl'>
<div class='row'>
<div class='col-xs-12'>
<div class='panel panel-default'>

<div class='panel-heading'>
  <h4 class='panel-title'>Your files</h4>
</div>

<div class='panel-body'>
<div class="table-responsive">
  <table 
    ng-show="ctrl.files"
    class='table table-hover table-condensed table-borderless' 
    ts-filter-fields="name,type"
    ts-wrapper>

  <thead>
    <tr class='active'>
      <th>
        <a href='#' ng-click="listctrl.selectAll(ctrl.files)"> 
              <i uib-tooltip='Select all' class='material-icons palette-Grey-500 text'>
                check_box
              </i>
        </a>
      </th>

      <th ts-criteria="name">Filename</th>
      <th ts-criteria="type">Type</th>
      <th ts-criteria="size | parseInt">Size</th>
      <th ts-criteria="creation | parseInt">Created</th>
      <th ts-criteria="modification | parseInt">Modified</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="data in ctrl.files" ts-repeat>

      <td ng-click='listctrl.selectElement(data)'>
        <i ng-if="!data.isSelected" class='material-icons'>check_box_outline_blank</i>
        <i ng-if="data.isSelected" class='material-icons'>check_box</i>
      </td>

      <td><b>{{data.name}}</b></td>
      <td>
        {{data.type}}
        <button 
          class='btn btn-success btn-xs'
          ng-if="data.type == 'metadata'">
          IMPORT
        </button>
      </td>
      <td>{{data.size | bytes}}</td>

      <td>
        <span uib-tooltip='{{data.creation | unix_date}}'>
          {{data.creation | moment_unix: 'fromNow'}}
        </span>
      </td>

      <td>
        <span uib-tooltip='{{data.modification | unix_date}}'>
          {{data.modification | moment_unix: 'fromNow'}}
        </span>
      </td>

      <td 
        ng-click='ctrl.deleteFile(data.name)'>
          <i class='material-icons palette-Red-500 text'>delete</i>
      </td>

    </tr>
  </tbody>
</table>
</div>
</div>

<div class='panel-footer'>
  <button 
    ng-if='listctrl.selectedElements' 
    class='btn btn-danger'
    ng-click='ctrl.deleteFiles(listctrl)'>
    Delete selected files
  </button>

  <button 
    ng-if='listctrl.selectedElements' 
    class='btn btn-normal'
    ng-click='listctrl.deselectAll(ctrl.files)'>
    Unselect files
  </button>

  <button 
    ng-if='listctrl.selectedElements' 
    class='btn btn-normal'

    ng-click='listctrl.invertSelection(ctrl.files)'>
    Invert selection
  </button>

</div>

</div>
</div>
</div>
</div>
</div>