<div 
	ng-if="datactrl.loading" 
	ng-include="main.templateDir + 'loader.html'">
</div>

<div class='row' ng-if='!profile.roles["Archive"]'>
<div class='col-xs-12 text-center'>

<div class='panel panel-danger'>

<div class='panel-body palette-Red-100 bg'>
  <i class='material-icons medium palette-Red-500 text'>warning</i>

  <br>

  <h3>
    Unauthorized  
  </h3>
</div>

</div>

</div>
</div>
</div>

<div ng-controller='UploadController as ctrl' ng-if='profile.roles["Archive"]'>

<div class='row'>
<div class='col-xs-8 col-xs-offset-2'>
<div class='panel panel-default'>

<div class='panel-heading'>
	<h4 class='panel-title'>Upload new videos</h4>
</div>

<div class='panel-body'>

<div flow-init="flowOptions"
     flow-files-submitted="$flow.upload()"
     flow-file-success="$file.msg = $message">

  <span class="btn btn-small btn-info" flow-btn><i class="icon icon-file"></i>Upload a file</span>
  <span class="btn btn-small btn-info" flow-btn flow-directory><i class="icon icon-folder-open"></i>
    Upload a folder
  </span>

  <br><br>

  <div class="well">
    <a class="btn btn-small btn-success" ng-click="$flow.resume()">Resume all</a>
    <a class="btn btn-small btn-warning" ng-click="$flow.pause()">Pause all</a>
    <a class="btn btn-small btn-danger" ng-click="$flow.cancel()">Cancel all</a>
    <span ng-if='$flow.getSize() > 0' class="label label-info">Total Size: {{$flow.getSize() | bytes}}</span>
  </div>

  <div class='table-responsive' ng-if='$flow.files.length'>
  <table class='table table-hover'>
  		<tr>
  			<th>#</th>
			<th>name</th>
			<th>size</th>
			<!-- <th>relativePath</th> -->
			<!-- <th>uniqueIdentifier</th> -->
			<!-- <th>chunks.length</th> -->
			<th>progress</th>
  		</tr>
    <tr ng-repeat="file in $flow.files">
		<td>{{$index+1}}</td>
		<td>{{file.name}}</td>
		<td>{{file.size | bytes}}</td>
		<!-- <td>{{file.relativePath}}</td> -->
		<!-- <td>{{file.uniqueIdentifier}}</td> -->
		<!-- <td>{{file.chunks.length}}</td> -->
		<td ng-include="main.templateDir + 'ngflow.progressbar.html'"></td>
  </table>
  </div>
</div>

</div>

<div class='panel-footer'>
</div>

</div>



<div ng-controller='VideosController as ctrl'>

<div class='row'>
<div class='col-xs-12'>
<div class='panel panel-default'>

<div class='panel-heading'>
  <h4 class='panel-title'>Your videos</h4>
</div>

<div class='panel-body'>

<div class="table-responsive">
  <table ng-show="ctrl.videos" class='table table-hover table-condensed table-borderless' ts-wrapper>

  <thead>
    <tr class='active'>
      <th ts-criteria="id" ts-default="descending">ID</th>
      <th ts-criteria="filename">Filename</th>
      <th ts-criteria="_ownership[0].email">Owner</th>
      <th ts-criteria="created">Created</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="(key, data) in ctrl.videos" ts-repeat>

      <td>
        {{data.id}} 
      </td>

      <td>{{data.filename}}</td>
      <td>{{data._ownership[0].email}}</td>
      <td>{{data.created  | moment: 'fromNow'}}</td>

    </tr>
  </tbody>
</table>
</div>

</div>

<div class='panel-footer'>
</div>

</div>