<ngui-map
        class="mappa"
        (mapReady$)="onMapReady($event)"
        (click)="marker_add($event)"
        [center]="center">
    <marker
            *ngFor="let pos of locations"
            [position]="pos.spatial"
            [draggable]="draggable_markers"
            (click)="marker_click($event, pos)"
            [label]="pos.label"
            [icon]="pos.icon"
            (dragend)="marker_dragend($event, pos)"
    ></marker>
    <info-window id="iw">
        <div>
            <div class="col-12"></div>
                <app-modal-lista-shots class="col-12 row no-gutter" [data]="info_window_data" [modal]="true" [show_title]="true"></app-modal-lista-shots>
            <div></div>
        </div>
    </info-window>
    <info-window id="move">
        <div>
            Vuoi aggiornare la posizione del marker?
            <span (click)="marker_position_update()">Sì</span>
            <span (click)="marker_position_reset()">No</span>
        </div>
    </info-window>
</ngui-map>