<ngui-map
        class="mappa"
        (mapReady$)="onMapReady($event)"
        (click)="marker_add($event)"
        [styles]="map_styles"
        [center]="center">
    <marker
            *ngFor="let pos of _markers"
            [position]="pos.spatial"
            [draggable]="draggable_markers"
            (click)="marker_click($event, pos)"
            [label]="pos.label"
            [icon]="pos.icon"
            (dragend)="marker_dragend($event, pos)"
    ></marker>
    <info-window id="iw">
        <div>
            <!--<div class="col-12 imc&#45;&#45;modal"></div>-->
            <app-modal-lista-shots class="imc--modal col-12 row no-gutter" [data]="info_window_data" [modal]="true" [show_title]="true"></app-modal-lista-shots>
                <div style="text-align:right" *ngIf="info_window_data.owner">
                    <span class="material-icons click-event" (click)="marker_delete(info_window_data.annotations[0])">delete</span>
                    <span class="material-icons click-event" (click)="marker_update(info_window_data.annotations[0], info_window_data.marker)">edit</span>
                </div>
            <div></div>
        </div>
    </info-window>
    <info-window id="move">
        <div>
            Vuoi aggiornare la posizione del marker?
            <span (click)="marker_position_update()">Sì</span>
            <span (click)="marker_position_reset()">No</span>
        </div>
    </info-window>
    <!--
        @NSI
        Impostare classi per infowindow seguente, modificare lo stile se si ritiene necessario, magari ridurre il testo dei bottoni
    -->
    <info-window id="edit" (closeclick)="marker_edit_closeclick()">
        <div>

            <div>
                Address: <br>
                <h6 [innerHTML]="marker_edit.address"></h6>
                Description: <br>
                <input name="marker_edit" id="marker_edit" [(ngModel)]="marker_edit.description" style="width:100%">
            </div>
            <div>
                <br>
                <strong>This geotag will be added to:<br></strong>
                <ng-template
                        ngFor
                        let-shot_id
                        [ngForOf]="marker_edit.shots_idx"
                >
                    <span>Shot {{shot_id.indice+1}}</span>
                </ng-template>
                <br>&nbsp;
            </div>

            <div style="text-align:right">
                <span class="btn btn-border-classic" (click)="marker_edit_close()">Cancel</span>
                <span class="btn btn-accent" (click)="marker_edit_save()">Save</span>
            </div>

        </div>
    </info-window>
</ngui-map>