@import 'vars';

// Layout delle tab di fianco al player (shots, segments, areas, ecc)

.box-shots {
  margin: 0;

  .imc--toolbar {
    background: $bg-dark-grey;
    margin: 0;
  }

  .tab-content {
    background: $bg-light-grey;
    height: 430px;
    display: flex;
    flex-direction: column;

    .tab-pane {
      position: absolute;
      width: 100%;
      overflow: auto;
      height: calc(430px - 53.5px);
    }

    .tab-content--footer {
      background: $bg-dark-grey;
      height: auto;
      width: 100%;
      padding: 10px $padding-card;
      text-align: right;
      margin-top: auto;
    }
  }
}

.tab-shots{
  margin: 0 !important;
  text-align: right;

  .nav-link {
    background: none !important;
    display: flex !important;
    align-items: center;
    padding: 0 8px;
  }
}

.page-type-image {
  .tab-shots {
    .nav-link {
      &.active,
      &.active i {
        background-color: $theme-image-color;
      }
    }
  }

  .box-single-shot {
    &.active {
      background-color: rgba($theme-image-color, .2);
    }
  }

}

.page-type-video {
  .tab-shots {
    .nav-link {
      &.active,
      &.active i {
        color: $theme-video-color;
      }
    }
  }

  .box-single-shot {
    &.active {
      background-color: rgba($theme-video-color, .2);
    }
  }

}


// Tab segment

.container-info-element {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: $padding-card;
}

.info-element-button {
  margin-top: auto;
  text-align: right;

  button {
    margin-bottom: 45px;
  }
}

// Shot singola riga

.box-single-shot {
  background: $bg-light-grey;
  padding: 10px 0;

  &:hover {
    background: $bg-grey;
  }
}

.shot-number {
  padding: 0 10px;
}

.anteprima-shot {
  background: $white;
  min-height: 70px;
  position: relative;
  width: 100%;

  & > span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 0 4px;
    background: #000;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
  }

  img {
    width: 100%;
  }
}

.anteprima-shot--info {
  color: $text-dark-color;
  padding: 0 20px !important;

  strong + span {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .box--icon-list {
    display: table;
    font-size: 12px;
    margin: 0;
    padding: 0;

    li {
      display: table-cell;
      padding-right: 8px;
      text-align: center;
    }

    i {
      color: $text-dark-color;
      display: block;
      font-size: 21px !important;
    }
  }
}

.icon-rotate {
  i {
    transform: rotate(90deg);
  }
}

.box--horizontal-icon-list {
  color: $text-dark-color;
  font-size: 12px;
  padding: 0;
  margin: 10px 0 15px;

  li {
    display: flex;
    padding-right: 10px;
    float: left;
    align-items: center;
  }

  i {
    color: $text-dark-color;
    font-size: 21px !important;
    margin-left: 5px;
  }
}

.box-annotation-buttons {
  padding-left: 15px !important;

  .btn-accent {
    padding: 3.5px 8px;
  }

  button:last-child {
    float: right;
  }
}