// Variabili
@import 'vars';
// Tema e layout customizzato
@import 'theme';
// Header del sito
@import 'header';
// Topbar
@import 'topbar';
// Tabs
@import 'tabs';
// Badge per i tag
@import 'badge';
// Buttons customizzati
@import 'buttons';
// Commenti
@import 'comments';
// Tabs shots/segments/areas
@import 'tabs_shots';
// Media map
@import 'media_map';
// Modal
@import 'modal';
// Tags bar sotto al player
@import 'tags_bar';
// Layout dell'accordio multilivello (vocabolario)
@import 'multilevel_accordion';

// Stile generale
body, a {
  color: $text-color;
  font-size: $font-size !important;
  font-family: $font-family;
}

.material-icons {
  color: $text-color;
  font-size: 25px !important;

  &.xlarge {
    font-size: 60px !important;
  }
}

