@import 'vars';

// Titoli
.imc--title-bold {
  color: $text-dark-color;
  display: block;
  font-size: $font-size-title;
  font-weight: 500;
  white-space: normal;
}

.paragraph-uppercase {
  text-transform: uppercase;
}

.paragraph-strong {
  font-weight: 500;
}

.paragraph-not-divide {
  white-space: nowrap;
}

// Link video/immagine
.page-type-video {
  .imc--link:hover,
  .imc--icon-link:hover {
    i {
      color: $theme-video-color;
    }
  }

  .font-media-color {
    color: $theme-video-color;
  }
}
.page-type-image {
  .imc--link:hover,
  .imc--icon-link:hover {
    i {
      color: $theme-image-color;
    }
  }

  .font-media-color {
    color: $theme-image-color;
  }
}

.page-link:focus {
  box-shadow: none;
  outline: none;
}

.icon-foto {
  color: $theme-image-color !important;
}

.icon-video {
  color: $theme-video-color !important;
}

.click-event {
  cursor: pointer;
}

// Layout customizzato (regole flexbox)

// - per il contenitore
.imc--flex--vertical-start {
  align-items: flex-start;
  display: flex;
}

.imc--flex--vertical-center {
  align-items: center;
  display: flex;
}

.imc--flex--vertical-end {
  align-items: flex-end;
  display: flex;
}

.imc--flex--horizontal-end {
  justify-content: flex-end;
  display: flex;
}

.imc--flex--horizontal-center {
  justify-content: center;
  display: flex;
}

// - per gli item
.imc--flex--item-end {
  display: flex;
  margin-left: auto;
}

.order-last-xs {
  @media (max-width: 575.98px) {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
}

// Spazi tra gli elementi
.space-paragraph-10 {
  margin-top: 10px;
}

.space-paragraph-20 {
  margin-top: 20px;
}

.space-paragraph-25 {
  margin-top: 25px;
}

.space-paragraph-sm-20 {
  @media (max-width: 991.98px) {
    margin-top: 20px;
  }
}

.space-paragraph-xs-20 {
  @media (max-width: 575.98px) {
    margin-top: 20px;
  }
}

.no-margin {
  margin: 0 !important;
}

// Campi di input
.imc--input,
.imc--input--no-line
{
  background: transparent;
  border: none;
  border-bottom: 1px solid $text-color;
  color: $text-color;
  min-width: 90px;
  position: relative;
  text-align: left;
  width: 100%;
}

//dropdown bootstrap
.imc--input--dropdown {
  margin-top: 8px;

  &.dropdown-menu {
    margin-top: 0;
  }

  button {
    @extend .imc--input;
    padding: 0 0 0 3px;
    position: relative;
    text-align: left;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 10.5px;
  }

  .dropdown-menu{
    //@extend .imc--input;
    font-size: unset;
  }

  .dropdown-item {
    border:0;
    cursor:pointer;
    display: block;
    font-size:inherit;
    font-weight: normal;
    min-height: 1.2em;
    padding: 0 2px;
  }
}



textarea {
  &.imc--input {
    min-height: 29px;
  }
}

.imc--input--no-line {
  border-bottom: 0;
}

.imc--input-search {
  background: url("../../assets/svg/search.svg") no-repeat;
  padding-left: 30px;
  width: 100%;
}

.imc--input-search:focus,
.imc--input:focus {
  outline: none;
}

// Radio button
input[type="radio"] {
  outline: none;
}

.imc--radio-label {
  font-weight: 400;
  margin-left: 15px;

  &:before {
    background: $white;
    border: 2px solid $text-color;
    width: 20px;
    height: 20px;
  }
  &:after {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 4px;
    background: transparent;
  }
}

.page-type-video {

  input[type="radio"]:checked {
    & + .imc--radio-label {

      &:before {
        border: 2px solid $theme-video-color !important;
        background: $white;
      }
      &:after {
        background: $theme-video-color;
      }
    }
  }
}

.page-type-image {

  input[type="radio"]:checked {
    & + .imc--radio-label {

      &:before {
        border: 2px solid $theme-image-color !important;
        background: $white;
      }
      &:after {
        background: $theme-image-color;
      }
    }
  }
}

//Datepicker
.imc--input-data {
  /*background: url("../../assets/svg/today.svg") no-repeat right;
  padding-right: 30px;*/
  width: 80%;

 /* & + .input-group-append {
    align-items: center;
    border-bottom: 1px solid $text-color;
    justify-content: flex-end;
    width: 20%;

    !*button,
    button[type=button]{
      background: transparent;
      padding: 0;
      border: 0;
      width: 100%;
    }*!
  }*/
}

.input-group-append {
  align-items: center;
  border-bottom: 1px solid $text-color;
  justify-content: flex-end;
  width: 20% !important;
}

.d-block {
  width: 100%;

  .ngb-dp-week {
    justify-content: space-between;
  }
}


// Input checkbox
.container-checkbox {
  align-items: center;
  display: flex;
  position: relative;
}

.box-checkbox {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.imc--input-checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 6px 0 0 12px;
  }

  //box
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid $text-color;
    vertical-align: sub;
  }
  // Box hover
  &:hover + label:before {
    background: $white;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: $bg-light-grey;
  }

  // Checkmark
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.page-type-video {
  .imc--input-checkbox {
    // Box checked video
    &:checked + label:before {
      background: $theme-video-color;
      border: 2px solid $theme-video-color;
    }
  }
}

.page-type-image {
  .imc--input-checkbox {
    // Box checked video
    &:checked + label:before {
      background: $theme-image-color;
      border: 2px solid $theme-image-color;
    }
  }
}

// INPUT SWITCH (button slide toggle)

// Switch
.switch {
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 24px;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 20px;
    opacity: 0;
    z-index: 0;
  }

  // Unchecked Switch
  &__label {
    display: block;
    padding: 0 0 0 44px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 36px;
      height: 14px;
      background-color: $bg-dark-grey;
      border-radius: 14px;
      z-index: 1;
      transition: background-color 0.28s cubic-bezier(.4, 0, .2, 1);
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: $white;
      border-radius: 14px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      z-index: 2;
      transition: all 0.28s cubic-bezier(.4, 0, .2, 1);
      transition-property: left, background-color;
    }
  }

  // Checked switch
  &__input:checked + &__label {
    &:before {
      background-color: $theme-video-color;
    }

    &:after {
      left: 16px;
    }
  }
}

// Container e Card
.imc--container {
  background: $bg-grey;
  padding: 35px 55px;

  & > .row {
    align-items: self-start;
  }

  @media (max-width: 991.98px) {
    padding: 35px 25px;

  }
}

.container-media {
  box-sizing: border-box;
  padding: 35px 25px;
  width: 100%;
}

.box-media {
  background: $bg-dark;
  /*min-height: 480px;*/
  align-self: stretch;
}


.imc--tab,
.imc--card {
  background: $white;
  box-shadow: $box-shadow-card;
}

// Expansion panel
.imc--accordion {
  background: $bg-light-grey;
  padding: $padding-card 0;
}

.imc--expansion-panel {
  border-radius: 0;
  box-shadow: $box-shadow-small-card;
  margin: 20px 30px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .card-header {
    background: $white;
    border: 0;
    padding: 10px $padding-card;

    .btn-link {
      border: 0;
      color: $text-dark-color;
      padding: 5px 0;
      overflow: hidden;
      text-align: left;
      width: 100%;

      &:hover,
      &:focus {
        text-decoration: none;
        outline: none;
        border: 0;
      }

    }
  }

  .card-body {
    padding-top: 0;
    margin: 0;

    h5 {
      font-size: 16px;
    }

    strong {
      color: $text-dark-color;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .list-space {
      li {
        margin: 8px 0;
      }
    }
  }
}

// Toolbar generale bianca
.imc--toolbar {
  border-bottom: 1px solid $border;
  padding: $padding-standard-toolbar;
}

// Content
.content {
  background: $bg-light-grey;
  padding: $padding-card;
}

//Thumb
.imc--thumb {
  background: $bg-dark;
  margin-right: 10px;
  max-width: 90px;
  min-width: 90px;
  min-height: 60px;
  height: auto;
  position: relative;

  img {
    width: 100%;
  }

  .duration,
  .shot-number {
    bottom: 5px;
    color: white;
    font-weight: 500;
    padding: 0 5px;
    position: absolute;
  }

  .duration {
    background: $black;
    right: 0;
  }

  .shot-number {
    border-radius: 50px;
    left: 5px;
  }
}

.imc--thumb-medium {
  background: $bg-dark;
  display: block;
  min-height: 120px;
  margin: 15px 0;

  img{
    width: 100%;
    height: auto;
  }
}

.page-type-video {
  .imc--thumb {
    .shot-number {
      background: $theme-video-color;
    }
  }
}

.page-type-image {
  .imc--thumb {
    .shot-number {
      background: $theme-image-color;
    }
  }
}

// Pagination
.pagination {
  & > li {
    align-items: center;
    display: flex;

    &:first-child > a,
    &:last-child > a {
      padding-bottom: 0;
    }

    & > a {
      border: 0;
      color: $text-color;
    }
  }
}


// Colonna destra
.imc--colonna-destra {
  box-sizing: border-box;
  padding-left: $padding-card !important;

  @media (max-width: 991.98px) {
    padding-left: 0 !important;
  }
}

.imc--lista-media-correlati {
  background: $bg-light-grey;
  border-bottom: 1px solid $border;
  padding: 15px 25px;

  &:last-child {
    border-bottom: 0;
  }
}
