//  Variabili globali condivise dai componenti
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500');

// Font utilizzato
$font-family: 'Maven Pro', sans-serif;
$font-size: 16px;
$font-size-small: 12px;
$font-size-title: 20px;

//Colors
$bg-dark: #333;
$bg-dark-grey: #dfdfdf;
$bg-light-grey: #f7f7f7;
$bg-grey: #eee;

$border: #dee2e6;

$white: #fff;
$black: #000;

$text-color: #707070;
$text-dark-color: #333;

$geotag-color: #f28200;
$badge-geotag-active: #f7a84c;
$termtag-color: #824eb5;
$badge-termtag-active: #b87ef1;



$theme-video-color: #53b8e2;
$theme-image-color: #e43432;

//Box-shadow
$box-shadow-card: 0 3px 4px 0 rgba(0, 0, 0, 0.16);
$box-shadow-small-card: 0 1px 4px 0 rgba(0, 0, 0, 0.18);

// Animations
$transition-all: all .25s ease-out;

//Standard padding
$padding-card: 25px;
$padding-top-bottom-toolbar: 18px;
$padding-standard-toolbar: $padding-top-bottom-toolbar $padding-card; //(18px 25px)
