// Topbar nera sotto all'header

.imc--topbar {
  background: $bg-dark;
  padding: 20px 50px;

  @media (max-width: 991.98px) {
    padding: 20px 25px;
  }

  a:hover,
  a:focus,
  a:active {
    outline: none !important;
  }
}

// variation for the video item
.page-type-video {
  .imc--topbar--title,
  .imc--topbar--title .material-icons {
    color: $theme-video-color;
  }
}

// variation for the image item
.page-type-image {
  .imc--topbar--title,
  .imc--topbar--title .material-icons {
    color: $theme-image-color;
  }
}

// variation for the model item
.page-type-3d-model {
  .imc--topbar--title,
  .imc--topbar--title .material-icons {
    color: $theme-model-color;
  }
}

.back-icon,
.box-icons-share {
  .material-icons {
    color: $white;
    margin-right: 10px;
  }
}
