<div class="imc--tab">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">General Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
               aria-selected="false">Technical Info</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div id="general-info_accordion" class="imc--accordion">

                <div class="card imc--expansion-panel">
                    <div class="card-header" id="titles__head">
                        <h5 class="mb-0">
                            <button class="btn btn-link"
                                    (click)="expandCard('title')"
                                    [attr.aria-expanded]="!isCollapsed.title"
                                    aria-controls="titles__content">
                                <div class="row">
                                    <div class="col-9 col-sm-10">Titles
                                        <span class="imc--title-bold" [innerHTML]="info.attributes.identifying_title"></span>
                                    </div>
                                    <div class="col imc--flex--horizontal-end">
                                        <i *ngIf="isCollapsed.title" class="material-icons">keyboard_arrow_down</i>
                                        <i *ngIf="!isCollapsed.title" class="material-icons">keyboard_arrow_up</i>
                                    </div>
                                </div>
                            </button>
                        </h5>
                    </div>

                    <div id="titles__content" [ngbCollapse]="isCollapsed.title" class="collapse">
                        <div class="card-body row">
                            <h5 class="col-12">Other Titles</h5>
                            <p class="col-12" *ngFor="let title of info.relationships.titles" [innerHTML]="title.attributes.text">
                                Porte storiche. Piazza Maggiore. Canali. <br>
                                Scene di vita quotidiana nella Bologna di inizio secolo.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card imc--expansion-panel">
                    <div class="card-header" id="description_head">
                        <h5 class="mb-0">
                            <span class="btn btn-link collapsed"
                                  (click)="expandCard('description')"
                                  [attr.aria-expanded]="!isCollapsed.description"
                                  aria-controls="description_content">
                                <div class="row">
                                    <div class="col-8 col-sm-7">
                                        Description
                                    </div>
                                    <div class="col-12 col-sm-3 imc--flex--horizontal-end order-last-xs">
                                        <!--option caricate dinamicamente nell'AfterViewInit-->
                                      <select class="imc--input"
                                              *ngIf="description_languages.size > 1"
                                              #description_languages_selector></select>
                                    </div>
                                    <div class="col-4 col-sm-2 imc--flex--horizontal-end">
                                        <i *ngIf="isCollapsed.description" class="material-icons">keyboard_arrow_down</i>
                                        <i *ngIf="!isCollapsed.description" class="material-icons">keyboard_arrow_up</i>
                                    </div>
                                </div>
                            </span>
                        </h5>
                    </div>
                    <div id="description_content" class="collapse" [ngbCollapse]="isCollapsed.description">
                        <div class="card-body row">
                            <ng-template
                                    ngFor
                                    let-descrizione
                                    [ngForOf]="this.info.relationships.descriptions">
                                <p class="col-12"
                                   *ngIf="descrizione.attributes.language.key === description_active"
                                   [attr.data-languagekey]="descrizione.attributes.language.key"
                                   [innerHTML]="descrizione.attributes.text"></p>
                            </ng-template>
                            <!--todo eliminare questo test-->
                           <p class="col-12"
                              *ngIf="'xx' === description_active"
                              data-languagekey="xx"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
                            labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                            haven't heard of them accusamus labore sustainable VHS.</p>
                        </div>
                    </div>
                </div>

                <div class="card imc--expansion-panel">
                    <div class="card-header" id="production-info_head">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed"
                                    (click)="expandCard('prod_information')"
                                    [attr.aria-expanded]="!isCollapsed.prod_information"
                                    aria-controls="production-info_content">
                                <div class="row">
                                    <div class="col-9 col-sm-10">Production information</div>
                                    <div class="col imc--flex--horizontal-end">
                                        <i *ngIf="isCollapsed.prod_information" class="material-icons">keyboard_arrow_down</i>
                                        <i *ngIf="!isCollapsed.prod_information" class="material-icons">keyboard_arrow_up</i>
                                    </div>
                                </div>
                            </button>
                        </h5>
                    </div>
                    <div id="production-info_content" class="collapse" [ngbCollapse]="isCollapsed.prod_information">
                        <div class="card-body row">
                            <!--Anno di produzione-->
                            <!--Todo pipe per valore nullo-->
                            <div class="col-2"><strong>Year:</strong> <span [innerHTML]="info.attributes.production_years[0]"></span></div>
                            <!--Paesi di produzione-->
                            <div class="col-2"><strong>Country:</strong>
                                <span
                                        *ngFor="let production_country of info.relationships.production_countries; last as last">
                                    {{production_country.attributes.code.description}}{{last ? '' : '/'}}
                                </span>
                            </div>
                            <!--Crediti-->
                            <div class="col-12 space-paragraph-10"><strong>Credits:</strong></div>
                            <div class="col-12">
                                <ul>
                                    <ng-template ngFor let-contributor [ngForOf]="info.relationships.contributors">
                                        <li
                                                *ngFor="let role of contributor.attributes.activities">
                                            {{role}}:
                                            <span [innerHTML]="contributor.attributes.names[0] | nocomma"></span>
                                        </li>

                                    </ng-template>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card imc--expansion-panel">
                    <div class="card-header" id="copyright_head">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed"
                                    (click)="expandCard('copyright')"
                                    [attr.aria-expanded]="!isCollapsed.copyright"
                                    aria-controls="copyright_content">
                                <div class="row">
                                    <div class="col-9 col-sm-10">Copyright</div>
                                    <div class="col imc--flex--horizontal-end">
                                        <i *ngIf="isCollapsed.copyright" class="material-icons">keyboard_arrow_down</i>
                                        <i *ngIf="!isCollapsed.copyright" class="material-icons">keyboard_arrow_up</i>
                                    </div>
                                </div>
                            </button>
                        </h5>
                    </div>
                    <div id="copyright_content" class="collapse" [ngbCollapse]="isCollapsed.copyright">
                        <div class="card-body row">
                            <div class="col-12">
                                <strong>Right Status: </strong>
                                <span [innerHTML]="info.attributes.rights_status.description"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card imc--expansion-panel">
                    <div class="card-header" id="owner_head">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed"
                                    (click)="expandCard('owner')"
                                    [attr.aria-expanded]="!isCollapsed.owner"
                                    aria-controls="owner_content">
                                <div class="row">
                                    <div class="col-9 col-sm-10">                                        
                                        Owner
                                    </div>
                                    <div class="col imc--flex--horizontal-end">
                                        <i *ngIf="isCollapsed.owner" class="material-icons">keyboard_arrow_down</i>
                                        <i *ngIf="!isCollapsed.owner" class="material-icons">keyboard_arrow_up</i>
                                    </div>
                                </div>

                            </button>
                        </h5>
                    </div>
                    <!--todo nell'api i dati di contatto non esistono in questa forma-->
                    <div id="owner_content" class="collapse" [ngbCollapse]="isCollapsed.owner">

                        <div class="card-body row">
                            <h5 class="col-12" [innerHTML]="info.relationships.record_sources[0].relationships.provider[0].attributes.name"></h5>
                            <div class="col-12"><strong>Contacts:</strong></div>
                            <div class="col-12">
                                <ul>
                                    <li>Via Riva Reno, 72 - 40122 Bologna</li>
                                    <li>tel: (+39) 05124879656</li>
                                    <li>fax: (-39) 05124879656</li>
                                    <li>http://www.cinetecadibologna.it/</li>
                                </ul>
                            </div>
                            <div class="col-12 space-paragraph-10">
                                <strong>Film ID in Archive: </strong>
                                <span [innerHTML]="info.relationships.record_sources[0].attributes.source_id"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- tab TECHNICAL INFO -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div id="tech-info_accordion" class="imc--accordion">
                <div class="card imc--expansion-panel">
                    <div class="card-header" id="analogue_head">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed"
                                    (click)="expandCard('analogue')"
                                    [attr.aria-expanded]="!isCollapsed.analogue"
                                    aria-controls="analogue_content">
                                <div class="row">
                                    <div class="col-9 col-sm-10">Analogue film format</div>
                                    <div class="col imc--flex--horizontal-end">
                                        <i *ngIf="isCollapsed.analogue" class="material-icons">keyboard_arrow_down</i>
                                        <i *ngIf="!isCollapsed.analogue" class="material-icons">keyboard_arrow_up</i>
                                    </div>
                                </div>
                            </button>
                        </h5>
                    </div>
                    <div id="analogue_content" class="collapse" [ngbCollapse]="isCollapsed.analogue">
                        <div class="card-body row">
                            <div class="col-12">
                                <ul class="list-space">

                                    <li
                                            *ngIf="info.relationships.video_format[0].attributes.sound">
                                        <strong>Sound: </strong>
                                        <span [innerHTML]="info.relationships.video_format[0].attributes.sound.description"></span>

                                    </li>
                                    <li
                                            *ngIf="info.relationships.video_format[0].attributes.colour">
                                        <strong>Colour: </strong>
                                        <span [innerHTML]="info.relationships.video_format[0].attributes.colour.description"></span>
                                    </li>
                                    <li
                                            *ngIf="info.relationships.video_format[0].attributes.gauge">
                                        <strong>Gauge: </strong>
                                        <span [innerHTML]="info.relationships.video_format[0].attributes.gauge"></span>
                                    </li>
                                    <li
                                            *ngIf="info.relationships.video_format[0].attributes.aspect_ratio">
                                        <strong>Aspect ratio: </strong>
                                        <span [innerHTML]="info.relationships.video_format[0].attributes.aspect_ratio"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card imc--expansion-panel">
                    <div class="card-header" id="digital_head">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed"
                                    (click)="expandCard('format')"
                                    [attr.aria-expanded]="!isCollapsed.format"
                                    aria-controls="digital_content">
                                <div class="row">
                                    <div class="col-9 col-sm-10">
                                        Digital format
                                    </div>
                                    <div class="col imc--flex--horizontal-end">
                                        <i *ngIf="isCollapsed.format" class="material-icons">keyboard_arrow_down</i>
                                        <i *ngIf="!isCollapsed.format" class="material-icons">keyboard_arrow_up</i>
                                    </div>
                                </div>
                            </button>
                        </h5>
                    </div>
                    <div id="digital_content" class="collapse" [ngbCollapse]="isCollapsed.format">
                        <div class="card-body row">
                            <div class="col-12">
                                <ul class="list-space">
                                    <li *ngIf="info.relationships.item[0].attributes.digital_format.length >= 1">
                                        <strong>Container: </strong> <span [innerHTML]="info.relationships.item[0].attributes.digital_format[0]"></span>
                                    </li>

                                    <li *ngIf="info.relationships.item[0].attributes.digital_format.length >= 2">
                                        <strong>Encoding: </strong> <span [innerHTML]="info.relationships.item[0].attributes.digital_format[1]"></span>
                                    </li>

                                    <li *ngIf="info.relationships.item[0].attributes.digital_format.length >= 3">
                                        <strong>Format: </strong> <span [innerHTML]="info.relationships.item[0].attributes.digital_format[2]"></span>
                                    </li>

                                    <li *ngIf="info.relationships.item[0].attributes.digital_format.length >= 4">
                                        <strong>Resolution: </strong> <span [innerHTML]="info.relationships.item[0].attributes.digital_format[3]"></span>
                                    </li>

                                    <li *ngIf="info.relationships.item[0].attributes.framerate">
                                        <strong>Frame rate: </strong> <span [innerHTML]="info.relationships.item[0].attributes.framerate"></span>
                                    </li>

                                    <li *ngIf="info.relationships.item[0].attributes.duration">
                                        <strong>Duration: </strong><span [innerHTML]="info.relationships.item[0].attributes.duration"></span> s
                                    </li>

                                    <li *ngIf="info.relationships.item[0].attributes.dimension">
                                        <strong>Size: </strong> <span [innerHTML]="info.relationships.item[0].attributes.dimension"></span> kb
                                    </li>

                                </ul>
                            </div>
<!--
                            <div class="col-6 space-paragraph-25">
                                <h5>*Video</h5>
                                <ul class="space-paragraph-10">
                                    <li>"label": "xxx"</li>
                                    <li>"label": "xxx"</li>
                                    <li>"label": "xxx"</li>
                                    <li>"label": "xxx"</li>
                                </ul>
                            </div>
                            <div class="col-6 space-paragraph-25">
                                <h5>*Audio</h5>
                                <ul class="space-paragraph-10">
                                    <li>"label": "xxx"</li>
                                    <li>"label": "xxx"</li>
                                    <li>"label": "xxx"</li>
                                    <li>"label": "xxx"</li>
                                </ul>
                            </div>
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>