<div class="card item-detail">
  <div class="media-image-wrapper" style="outline: none;">
		<span class="search-item label bigger-110">
			<span class="fa-stack">
				<i class="fa fa-circle-thin fa-stack-2x" *ngIf="!media.thumbnail"></i>
				<i class="fa fa-circle fa-stack-2x" *ngIf="media.thumbnail"></i>
				<i class="fa fa-stack-1x light-blue" [ngClass]="{'fa-video-camera': media.type === 'aventity', 'fa-camera': media.type === 'nonaventity'}"></i>
			</span>
		</span>
		<hjs class="media-object" alt="146x110" [holderId]="'hjs-'+media.uuid" [imgSrc]="'holder.js/146x110?text=NO THUMBNAIL'" *ngIf="!media.thumbnail" (contextmenu)="disableSaveAs($event)"></hjs>
		<img (contextmenu)="disableSaveAs($event)" src="{{media.thumbnail}}" *ngIf="media.thumbnail" class="img-fluid"/>
		<span *ngIf="media.type == 'aventity'" class="anteprima-duration" [innerHTML]="media.duration | secondsToTime"></span>
	</div>
  <div class="card-body">
    <h5 class="card-title blue click-event" (click)="route(media.id, media.type)">{{media.title}}</h5>
    <p class="card-text">{{media.description}}</p>
  </div>
</div>